// _shady.css.sass
//
// @package bundle/contour/index/theatre/stage/sections/overview

@mixin shady
  .shady
    height: 100%
    position: absolute
    width: 100%

    @include linear-gradient(to right, #A22644 0%, #D24044 100%, $fallback: #D24044)