// _slider.css.sass
//
// @package bundle/contour/index/theatre/stage/sections/overview

@mixin slider
  .slider
    padding: rem(164) 0 0
    z-index: 20

    .slide
      font-size: map-get-deep($contour, index, theatre, stage, sections, overview, slider, slide, font-size)
      height: 432px

      .content
        margin: 0 auto
        padding: map-get-deep($contour, common, components, shell, padding)
        text-align: center

        @include vertical-align

        p
          margin: 0 auto rem(10)

          &:last-child
            margin: 0 auto

        a
          font-family: map-get-deep($defaults, font-families, bold)

      &.quote
        font-size: map-get-deep($contour, index, theatre, stage, sections, overview, slider, slide, quote, font-size)

    .slick-dots
      bottom: rem(10)