// _badge.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard

@mixin badge
  .badge
    display: inline-block
    height: 64px
    margin: rem(30) auto rem(15)
    position: relative
    width: 278px

    span
      display: block

      &.logo
        width: 64px

        @include hide-text(64px)

        @include retina-image('bundle/contour/common/theatre/roof/dashboard/badge/logo/background', 64px 64px)

      &.title,
      &.claim
        left: rem(74)
        position: absolute
        text-align: left

      &.title
        font-family: map-get-deep($defaults, font-families, heavy)
        font-size: ms(1.75)
        text-transform: uppercase
        top: rem(4)

      &.claim
        top: rem(38)