// _badge.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard
// @media all
// @version 1.0

@mixin badge
  .badge
    display: inline-block
    height: 64px
    margin: rem(30) auto rem(20)
    position: relative
    width: 285px

    span
      display: block

      &.icon
        background: transparent image-url('bundle/contour/common/theatre/roof/dashboard/badge/icon/background.png') no-repeat center center
        height: 64px
        width: 64px

        @include hide-text

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/roof/dashboard/badge/icon/background_at_2x.png')
          background-size: 64px 64px

      &.title,
      &.claim
        left: rem(74)
        position: absolute
        text-align: left

      &.title
        font-family: map-get-deep($defaults, font-families, heavy)
        font-size: ms(1.75)
        padding: rem(6) 0 0
        text-transform: uppercase
        top: 0

      &.claim
        top: rem(40)