// _control_panel.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard
// @media all
// @version 1.0

@mixin control-panel
  .control-panel
    position: absolute
    right: rem(10)
    top: rem(10)

    @include container