// _control_panel.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard

@import control_panel/controls

@mixin control-panel
  .control-panel
    font-size: map-get-deep($contour, common, theatre, roof, dashboard, control-panel, font-size)
    height: map-get-deep($contour, common, theatre, roof, dashboard, control-panel, height)
    line-height: map-get-deep($contour, common, theatre, roof, dashboard, control-panel, line-height)
    position: absolute
    right: 0
    top: 0

    @include controls