// _control_panel.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard
// @media all
// @version 1.0

@mixin control-panel
  .control-panel
    position: absolute
    right: rem(5)
    top: 0

    nav.locales,
    a.contact
      display: inline-block

    a.contact
      background: transparent image-url('bundle/contour/common/theatre/roof/dashboard/control_panel/contact/background.png') no-repeat 0 0
      font-size: map-get-deep($contour, common, theatre, roof, dashboard, control-panel, contact, font-size)
      text-align: center
      text-transform: uppercase
      height: 38px
      width: 138px
      line-height: rem(38)