// _navigations.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard
// @media all
// @version 1.0

@import navigations/guideline
@import navigations/channels
@import navigations/locales

@mixin navigations
  nav
    text-align: center
    text-transform: uppercase

    a
      font-family: $font-family-navigation

    @include guideline

    @include channels

    @include locales