// _navigations.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard
// @media all
// @version 1.0

@import navigations/main
@import navigations/channels
@import navigations/locales

@mixin navigations
  nav
    text-align: center

    a
      font-family: 'Nexa Bold'
      text-transform: uppercase

    @include main

    @include channels

    @include locales