// _member.css.sass
//
// @package bundle/media/screen/x-large/index/theatre/stage/sections/team/hub/members

@mixin member
  .member
    width: 300px

    .photo
      height: 192px
      width: 300px