// _introduction.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/outline
// @media all
// @version 1.0

@mixin introduction
  .introduction
    background: transparent image-url('bundle/contour/common/theatre/stage/sections/outline/introduction/background.png') repeat center center
    padding: rem(20) 0
    text-align: center
    z-index: 50