// _introduction.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/outline
// @media all
// @version 1.0

@mixin introduction
  .introduction
    background: transparent image-url('bundle/contour/common/theatre/stage/sections/outline/introduction/background.png') repeat center center
    padding: rem(10) 0
    z-index: 50

    .part
      text-align: center

      h1
        font-size: ms(3.5)
        margin: 0 0 rem(10)

      p
        margin: 0

      &.first
        margin: 0 0 rem(10)