// _shady.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/outline
// @media all
// @version 1.0

@mixin shady
  .shady
    height: 100%
    position: absolute
    width: 100%

    @include linear-gradient(#111122, #FF0022)