// _shady.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/outline
// @media all
// @version 1.0

@mixin shady
  .shady
    height: 100%
    position: absolute
    width: 100%
    z-index: -1

    @include linear-gradient(#A22644, #D24044)