// _slider.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/outline
// @media all
// @version 1.0

@mixin slider
  .slider
    padding: rem(164) 0 0 0
    z-index: 100

    .slide
      height: 400px

      .content
        text-align: center

        @include vertical-align

        p
          margin: 0

        a
          font-family: map-get-deep($contour, common, theatre, stage, sections, outline, slider, slide, content, a, font-family)

      &.message
        .content
          p
            font-size: map-get-deep($contour, common, theatre, stage, sections, outline, slider, slide, message, content, p, font-size)

      &.quote
        .content
          p.title,
          p.statement
            margin: 0 0 rem(10)

          p.title,
            font-family: map-get-deep($contour, common, theatre, stage, sections, outline, slider, slide, quote, content, title, font-family)
            font-size: map-get-deep($contour, common, theatre, stage, sections, outline, slider, slide, quote, content, title, font-size)

          p.statement
            font-size: map-get-deep($contour, common, theatre, stage, sections, outline, slider, slide, quote, content, statement, font-size)

          p.author
            font-size: map-get-deep($contour, common, theatre, stage, sections, outline, slider, slide, quote, content, author, font-size)