// _mobile.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/work/hub/references/reference/views
// @media all
// @version 1.0

@mixin mobile
  &.mobile
    height: 244px
    opacity: 0
    position: absolute
    right: rem(-50)
    top: rem(40)
    width: 100px

    .viewport
      bottom: rem(60)
      left: rem(6)
      right: rem(6)
      top: rem(30)

    .overlay
      background: transparent image-url('bundle/contour/common/theatre/stage/sections/work/hub/references/reference/views/mobile/overlay/background.png') no-repeat 0 0

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/stage/sections/work/hub/references/reference/views/mobile/overlay/background_at_2x.png')
        background-size: 100px 244px