// _introduction.css.sass
//
// @package bundle/media/screen/large/index/theatre/stage/sections/overview

@mixin introduction
  .introduction
    text-align: left

    p
      display: block
      width: 47.5%
      float: left

      &:last-child
        float: right