// _browse.css.sass
//
// @package bundle/media/screen/large/index/theatre/stage/sections/work/hub/references

@mixin browse
  .browse
    width: map-get-deep($media, screen, large, index, theatre, stage, sections, work, hub, references, reference, interior, width)

    a
      bottom: rem(290)
      height: 60px
      width: 60px

      &.previous
        background-image: image-url('bundle/media/screen/large/index/theatre/stage/sections/work/hub/references/browse/previous/background.png')
        left: rem(-140)

        @include hidpi
          background-image: image-url('bundle/media/screen/large/index/theatre/stage/sections/work/hub/references/browse/previous/background_at_2x.png')
          background-size: 60px 60px

      &.next
        background-image: image-url('bundle/media/screen/large/index/theatre/stage/sections/work/hub/references/browse/next/background.png')
        right: rem(-140)

        @include hidpi
          background-image: image-url('bundle/media/screen/large/index/theatre/stage/sections/work/hub/references/browse/next/background_at_2x.png')
          background-size: 60px 60px