// _browse.css.sass
//
// @package bundle/media/screen/large/index/theatre/stage/sections/work/hub/references

@mixin browse
  .browse
    width: map-get-deep($media, screen, large, index, theatre, stage, sections, work, hub, references, reference, interior, width)

    a
      bottom: rem(312)

      &.previous
        left: rem(-114)

      &.next
        right: rem(-114)