// _browse.css.sass
//
// @package bundle/media/screen/large/index/theatre/stage/sections/work/hub/references

@mixin browse
  .browse
    width: map-get-deep($media, screen, large, index, theatre, stage, sections, work, hub, references, reference, interior, width)

    a
      bottom: rem(290)
      height: 60px
      width: 60px

      &.previous
        left: rem(-140)

        @include retina-image('bundle/media/screen/large/index/theatre/stage/sections/work/hub/references/browse/previous/background', 60px 60px)

      &.next
        right: rem(-140)

        @include retina-image('bundle/media/screen/large/index/theatre/stage/sections/work/hub/references/browse/next/background', 60px 60px)