// _basement.css.sass
//
// @package bundle/media/screen/x-large/common/theatre

@import basement/partials/get_in_touch
@import basement/partials/manual
@import basement/partials/copyright

@mixin basement
  .basement
    padding: 0
    text-align: left

    .shell
      height: 42px

    .partial
      margin: 0
      position: absolute
      top: rem(10)

      @include get-in-touch

      @include manual

      @include copyright