// _basement.css.sass
//
// @package bundle/media/screen/x-large/common/theatre

@import basement/partials/get_in_touch
@import basement/partials/manual
@import basement/partials/copyright

@mixin basement
  .basement
    height: 45px
    padding: 0
    text-align: left

    .partial
      position: absolute

    @include get-in-touch

    @include manual

    @include copyright