// _mriekert.css.sass
//
// @package bundle/samples/team_members
// @media all
// @version 1.0

@mixin mriekert
  .mriekert
    .photo
      background: transparent image-url('bundle/samples/contour/team_members/mriekert/photo.jpg') no-repeat center center

      @include hidpi
        background-image: image-url('bundle/samples/contour/team_members/mriekert/photo_at_2x.jpg')
        background-size: 300px 192px