// _browser.css.sass
//
// @package bundle/media/screen/large/common/theatre/stage/sections/work/hub/references/reference/interior/views

@mixin browser
  &.browser
    height: 388px
    width: 480px

    .viewport
      bottom: 60px
      left: 5px
      right: 5px
      top: 22px

    .overlay
      background: transparent image-url('bundle/media/screen/large/common/theatre/stage/sections/work/hub/references/reference/interior/views/browser/overlay/background.png') no-repeat 0 0

      @include hidpi
        background-image: image-url('bundle/media/screen/large/common/theatre/stage/sections/work/hub/references/reference/interior/views/browser/overlay/background_at_2x.png')
        background-size: 480px 388px

    .title
      font-size: ms(-1)
      left: 6px
      top: 4px