# Ignore sublime workspace configuration
*.sublime-workspace

# Ignore bundler configuration
.bundle

# Ignore sass cache
.sass-cache

# Ignore bundler stubs
bin

# Ignore deploy configuration
config/deploy.yml

# Ignore log files
log

# Ignore `public/fonts/nexa` folder
public/fonts/nexa

# Ignore `ressources/images` folder
ressources/images

# Ignore `ressources/layouts` folder
ressources/layouts

# Ignore `ressources/misc` folder
ressources/misc