// _contact.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage/sections
// @media all
// @version 1.0

@import contact/header/informal
@import contact/footer/request
@import contact/footer/details

@mixin contact
  &.contact
    color: #006897
    display: none
    padding: rem(32) 0 0 0

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    strong,
    a
      color: #006897

    ul
      margin: 0 0 rem(10)

      li
        background: transparent image-url('bundle/contour/common/theatre/roof/backstage/sections/contact/decorations/qube.png') no-repeat left rem(4)
        padding: 0 0 rem(10) rem(20)

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/roof/backstage/sections/contact/decorations/qube_at_2x.png')
          background-size: 10px 12px

    form
      .label,
      .success,
      .failure
        font-family: $font-family-bold

      .row
        .field
          height: auto
          margin: 0 0 rem(10)

          &.submit
            height: 32px

        &.last
          .field
            margin: 0

      input,
      textarea
        color: #006897

      a.submit
        background: #24D2DB
        color: #FFF
        font-family: $font-family-bold
        padding: rem(5)
        position: absolute
        right: 0

    .bar
      background: #E2F4F8

      a.close
        background: #24D2DB
        color: #FFF

        &.locked
          background: #999

    header,
    footer
      padding: rem(10) 0

    header
      background: #EEFCFD

      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        color: #24D2DB

      @include informal

    footer
      background: #E2F4F8

      @include request

      @include details