// _contact.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage/sections

@import contact/greetings
@import contact/reach_us

@mixin contact
  &.contact
    color: #006897

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    strong,
    a
      color: #006897

    ul
      li
        @include retina-image('bundle/contour/common/theatre/roof/backstage/sections/contact/decorations/qube', 10px 12px)

    .bar
      background: #E2F4F8

      a.close
        background-color: #24D2DB

        &.locked
          background-color: #DDD

    @include greetings

    @include reach-us