// _contact.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage/sections

@import contact/bar
@import contact/greetings
@import contact/reach_us

@mixin contact
  &.contact
    color: #006897
    display: none
    padding: rem(32) 0 0 0

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    strong,
    a
      color: #006897

    ul
      margin: 0 0 rem(10)

      li
        background: transparent image-url('bundle/contour/common/theatre/roof/backstage/sections/contact/decorations/qube.png') no-repeat left rem(4)
        padding: 0 0 rem(10) rem(20)

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/roof/backstage/sections/contact/decorations/qube_at_2x.png')
          background-size: 10px 12px

    @include bar

    @include greetings

    @include reach-us