%nav.channels
  %ul.items
    {% for channel in bitaculous.channels %}

    {% assign type = channel.type | handleize %}

    {% capture position %}{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}{% endcapture %}

    %li.item{ class: '{{type}} {{position}}' }
      %a.external{ href: '{{channel.url}}', title: '{{channel.description}}', target: '_blank' }
        %i{ class: 'icon-{{type}}' }
    {% endfor %}