.control-panel
  {% include 'locales' %}

  %a.contact.active{ href: '#', data: { title: '{{\'contact\' | translate}}', title_active: '{{\'close\' | translate}}' }, title: '{{\'contact\' | translate}}' }
    %span.label {{'contact' | translate}}

    %i{ class: 'icon-close' }