%section.contact{ data: { id: 'contact' } }
  {% include 'bar' %}

  %header
    .shell
      {% include 'informal' %}

  %footer
    .shell
      {% include 'request' %}

      {% include 'details' %}