.control-panel
  {% include 'slang' %}

  %a.contact.control{ href: '#', data: { target: 'contact', label: '{{\'contact\' | translate}}', title: '{{\'contact\' | translate}}', active: { label: '{{\'x\' | translate}}', title: '{{\'close\' | translate}}' } }, title: '{{\'contact\' | translate}}' }
    {{'contact' | translate}}