%aside.details
  {% assign address = bitaculous.addresses.first %}
  {% assign telephone = bitaculous.telephone_numbers.first %}
  {% assign email = bitaculous.emails.first %}
  {% assign directions = bitaculous.links.first %}

  :kramdown
    **{{bitaculous.title}}**<br />
    {{bitaculous.contact_person}}<br />
    {{address.street}}<br />
    {{address.postal_code}} {{address.city}}
    [<i class="icon-directions"></i>]({{directions.url}} "{{directions.label}}"){: .directions .external target="_blank"}

  {% if locale == 'en' %}
  :kramdown
    *Please give us a shout any time:*

    **Telephone:** [{{telephone.formatted_number}}](tel:{{telephone.number}} "{{telephone.label}}"){: .telephone}<br />
    **Email:** [{{email.address}}]({{'mailto:' | append: email.encoded_address}} "{{email.label}}"){: .email}
  {% endif %}

  {% if locale == 'de' %}
  :kramdown
    *Sie können uns gerne jederzeit kontaktieren:*

    **Telephone:** [{{telephone.formatted_number}}](tel:{{telephone.number}} "{{telephone.label}}"){: .telephone}<br />
    **Email:** [{{email.address}}]({{'mailto:' | append: email.encoded_address}} "{{email.label}}"){: .email}
  {% endif %}

  {% include 'channels' %}