.get-in-touch.partial
  {% assign telephone = bitaculous.telephone_numbers.first %}

  {% if telephone %}
  %a.telephone{ href: 'tel:{{telephone.number}}', title: '{{telephone.label}}' } {{telephone.formatted_number}}

  %span.divider.item
    |
  {% endif %}

  {% assign email = bitaculous.emails.first %}

  {% if email %}
  %a.email{ href: 'mailto:{{email.encoded_address}}', title: '{{email.label}}' } {{email.encoded_address}}

  %span.divider.item
    |
  {% endif %}

  {% assign directions = bitaculous.links.first %}

  {% if directions %}
  %a.directions{ href: '{{directions.url}}', title: '{{directions.label}}', target: '_blank' } {{bitaculous.address}}, {{bitaculous.zip_code}} {{bitaculous.city}}
  {% endif %}