.get-in-touch.partial
  {% assign address = bitaculous.addresses.first %}
  {% assign telephone = bitaculous.telephone_numbers.first %}

  {% if telephone %}
  %a.telephone{ href: 'tel:{{telephone.number}}', title: '{{telephone.label}}' }
    %i{ class: 'icon-telephone' }

    %span.label {{telephone.formatted_number}}

  %span.divider.item /
  {% endif %}

  {% assign email = bitaculous.emails.first %}

  {% if email %}
  %a.email{ href: 'mailto:{{email.encoded_address}}', title: '{{email.label}}' }
    %i{ class: 'icon-email' }

    %span.label {{email.encoded_address}}

  %span.divider.item /
  {% endif %}

  {% assign location = bitaculous.links.first %}

  {% if location %}
  %a.location{ href: '{{location.url}}', title: '{{location.label}}', target: '_blank' }
    %i{ class: 'icon-location' }

    %span.label {{address.street}}, {{address.postal_code}} {{address.city}}
  {% endif %}