.get-in-touch.first.partial
  {% assign phone = bitaculous.phone_numbers.first %}
  {% assign email = bitaculous.emails.first %}
  {% assign location = bitaculous.links.first %}
  {% assign address = bitaculous.addresses.first %}

  {% if phone %}
  %a.phone{ href: "tel:{{phone.number}}", title: "{{phone.label}}" }
    %i{ class: 'icon-phone' }

    %span.label {{phone.formatted_number}}

  %span.separator.item /
  {% endif %}

  {% if email %}
  %a.email{ href: "mailto:{{email.encoded_address}}", title: "{{email.label}}" }
    %i{ class: 'icon-email' }

    %span.label {{email.encoded_address}}

  %span.separator.item /
  {% endif %}

  {% if location %}
  %a.location{ href: "{{location.url}}", title: "{{location.label}}", target: '_blank' }
    %i{ class: 'icon-location' }

    %span.label {{address.street}}, {{address.postal_code}} {{address.city}}
  {% endif %}