.greetings
  .target-groups
    .shell
      {% for target_group in contents.target_groups %}

      {% assign identifier = target_group.identifier | handleize %}

      {% capture position %}{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}{% endcapture %}

      .target-group{ class: "{{identifier}} {{position}}" }
        %h1 {{target_group.salutation}}

        %p {{target_group.text}}

      {% endfor %}