%head{ prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#' }
  {% include claim %}

  {% include meta_tags %}

  %title {{ page.seo_title | default: page.title }}

  {{ 'bundle.css' | stylesheet_tag }}

  {{ 'preface.js' | javascript_tag }}

  {% inline_editor %}