%head{ prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#' }
  %title {{page.seo_title | default: page.title}}

  {% include 'meta_tags' %}

  {{'bundle.css' | stylesheet_tag}}

  {{'preface.js' | javascript_tag}}

  {% inline_editor %}