%header.row
  .content.large-12.columns
    %nav.top-bar{ data: { topbar: true } }
      %ul.title-area
        %li.home
          %a{ href: '#', title: 'Bitaculous' } Bitaculous

        %li.toggle-topbar.menu-icon
          %a{ href: '#', title: 'Menu' }
            %span Menu

      %section.top-bar-section
        %ul.right
          %li.home
            %a{ href: '#', title: 'Home' } Home

          %li.about
            %a{ href: '#', title: 'About' } About

          %li.work
            %a{ href: '#', title: 'Work' } Work

          %li.team
            %a{ href: '#', title: 'Team' } Team

          %li.contact
            %a{ href: '#', title: 'Contact' } Contact