%head{ prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#' }
  {% include 'title' %}

  {% include 'meta_tags' %}

  {{'bundle.css' | stylesheet_tag(: 'all')}}

  {{'preface.js' | javascript_tag}}

  {% inline_editor %}