%nav.manual.partial
  %ul.items
    %li.imprint.first.item
      %a.imprint{ href: '{% path_to imprint %}', title: '{{\'imprint\' | translate}}' } {{'imprint' | translate}}

    %li.divider.item
      |

    %li.privacy.first.item
      %a.privacy{ href: '{% path_to privacy %}', title: '{{\'privacy\' | translate}}' } {{'privacy' | translate}}