.members
  .shell
    {% for member in contents.team_members %}

    {% capture position %}{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}{% endcapture %}

    {% assign identifier = member.identifier | downcase | dasherize %}

    .member{ class: '{{identifier}} {{position}}' }
      .photo{ title: '{{member.name}}' }

      %p.name {{member.name}}

      {% if member.profession %}
      %p.profession {{member.profession}}
      {% endif %}

      {% if member.details %}
      %p.details {{member.details}}
      {% endif %}

    {% endfor %}