%meta{ charset: 'utf-8' }/

%meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }/

%meta{ name: 'abstract', content: "{{page.meta_description | default: site.meta_description | truncatewords: 10}}" }/
%meta{ name: 'author', content: "{{site.author}}" }/
%meta{ name: 'copyright', content: "©{{now | date: '%Y'}} {{site.author}}" }/
%meta{ name: 'description', content: "{{page.meta_description | default: site.meta_description}}" }/
%meta{ name: 'generator', content: "{{site.generator}}" }/
%meta{ name: 'google-site-verification', content: "{{site.google_site_verification}}" }/
%meta{ name: 'keywords', content: "{{page.meta_keywords | default: site.meta_keywords}}" }/
%meta{ name: 'publisher', content: "{{site.publisher}}" }/
%meta{ name: 'robots', content: "{{site.robots}}" }/
%meta{ name: 'viewport', content: "{{site.viewport}}" }/

{% include 'csrf_metadata' %}

{% include 'open_graph_metadata' %}

{% include 'microdata' %}

{% include 'twitter_card' with site.twitter_card %}

{% include 'language_annotations' %}