%meta{ itemprop: 'description', content: '{{page.meta_description | default: site.meta_description}}' }/
%meta{ itemprop: 'image', content: '{{site.image}}' }/
%meta{ itemprop: 'name', content: '{{page.seo_title | default: site.seo_title}}' }/