%meta{ property: 'og:description', content: "{{page.meta_description | default: site.meta_description}}" }/
%meta{ property: 'og:image', content: "{{site.image}}" }/
%meta{ property: 'og:site_name', content: "{{site.name}}" }/
%meta{ property: 'og:title', content: "{{page.seo_title | default: site.seo_title}}" }/
%meta{ property: 'og:type', content: "{{site.type | handleize}}" }/
%meta{ property: 'og:url', content: "{{url | default: site.url}}" }/