%meta{ property: 'og:description', content: '{{site.description}}' }/
%meta{ property: 'og:image', content: '{{site.image}}' }/
%meta{ property: 'og:title', content: '{{site.title}}' }/
%meta{ property: 'og:type', content: '{{site.type | downcase | dasherize}}' }/
%meta{ property: 'og:url', content: '{{site.url}}' }/