%nav.outline
  %ul.items
    {% for item in contents.outline_items %}

    {% assign identifier = item.identifier | downcase | dasherize %}

    {% capture active %}{% if forloop.first %}active{% endif %}{% endcapture %}

    {% capture position %}{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}{% endcapture %}

    %li.item{ class: '{{identifier}} {{active}} {{position}}' }
      %a{ href: '#', data: { target: '{{item.target}}', offset: '{{item.offset}}' }, title: '{{item.description}}' } {{item.title}}
    {% endfor %}