{% assign identifier = reference.identifier | handleize %}

{% capture responsive %}{% if reference.responsive %}responsive{% endif %}{% endcapture %}

.reference.slick-slide{ class: '{{identifier}} {{responsive}}', data: { url: '{{reference.url}}' } }
  .interior
    .views.touch-zone
      .browser.view
        .viewport

        .overlay

        .title {{reference.title}}

      {% if reference.responsive %}
      .mobile.view
        .viewport

        .overlay
      {% endif %}

    %h2.caption
      %span.label {{reference.title}}