.references.slick-slider
  {% for reference in contents.references %}

  {% assign identifier = reference.identifier | downcase | dasherize %}

  .reference.slick-slide{ class: '{{identifier}}', data: { url: '{{reference.url}}' } }
    .browser.view
      .viewport

      .overlay

      .title {{reference.title}}

    {% if reference.responsive %}
    .mobile.view
      .viewport
    {% endif %}

    %span.title {{reference.title}}

    {% if reference.label %}
    %span.label {{reference.label}}
    {% endif %}

  {% endfor %}