%form.request{ action: '{{contents.requests.public_submission_url | append: \'.json\'}}', method: 'post' }
  .label
    {% if locale == 'en' %}
    :kramdown
      # We look forward to hearing from you!
    {% endif %}

    {% if locale == 'de' %}
    :kramdown
      # Wir freuen uns auf Ihre Nachricht!
    {% endif %}

  .success
    {% if locale == 'en' %}
    :kramdown
      Thank you for your message, we will get back to you as soon as possible.
    {% endif %}

    {% if locale == 'de' %}
    :kramdown
      Vielen Dank für Ihre Nachricht, wir werden uns umgehend mit Ihnen in Verbindung setzen.
    {% endif %}

  .failure

  %fieldset.system
    {% csrf_param %}

    %input#success-callback.hidden{ name: 'success_callback', type: 'hidden', value: '{{base_path}}' }

    %input#error-callback.hidden{ name: 'error_callback', type: 'hidden', value: '{{base_path}}' }

  %fieldset.default
    .row.first.two.columns
      .name.field
        %label{ for: 'name', title: '{{\'request_name_title\' | translate}}' } {{'request_name_label' | translate}}

        %input#name.text.element{ name: 'content[name]', type: 'text', placeholder: '{{\'request_name_placeholder\' | translate}}', value: '{{request.name}}', required: true }

      .email.field
        %label{ for: 'email', title: '{{\'request_email_title\' | translate}}' } {{'request_email_label' | translate}}

        %input#email.email.element{ name: 'content[email]', type: 'email', placeholder: '{{\'request_email_placeholder\' | translate}}', value: '{{request.email}}', required: true }

    .row.one.column
      .message.field
        %label{ for: 'message', title: '{{\'request_message_title\' | translate}}' } {{'request_message_label' | translate}}

        %textarea#message.element{ name: 'content[message]', rows: '10', cols: '10', placeholder: '{{\'request_message_placeholder\' | translate}}', required: true } {{request.message}}

    .row.last.one.column
      .submit.field
        %input.submit.element{ type: 'submit', value: '{{\'request_submit\' | translate}}', title: '{{\'request_submit_title\' | translate}}' }

        %a.submit{ href: '#', title: '{{\'request_submit_title\' | translate}}' } {{'request_submit' | translate}}