%header.roof
  .backstage
    .shell
      .contact
        %h1 Contact

  .dashboard
    .shell
      %a.badge{ href: '{{ path }}', title: '{{bitaculous.title}} - {{bitaculous.claim}}' }
        %span.title {{bitaculous.title}}

        %span.claim {{bitaculous.claim}}

      %nav.main
        %ul.items
          {% for section in contents.sections %}

          {% assign identifier = section.identifier | downcase | dasherize %}

          %li{ class: '{{identifier}} {% if forloop.first %}first active{% endif %} {% if forloop.last %}last{% endif %} item' }
            %a{ href: '#', title: '{{section.description}}' } {{section.title}}
          {% endfor %}

      %nav.channels
        %ul.items
          {% for channel in contents.channels %}

          {% assign type = channel.type | downcase | dasherize %}

          %li{ class: '{{type}} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} item' }
            %a{ href: '{{channel.url}}', title: '{{channel.description}}', target: '_blank' }
              %i{ class: 'icon-{{type}}' }
          {% endfor %}

      .control-panel
        {% include locales %}

        %a.contact{ href: 'mailto:hello@bitaculous.com', title: '{{\'contact\' | translate}}' } {{'contact' | translate}}