%header.roof
  .backstage
    .shell
      .contact
        {% if locale == 'en' %}
        :kramdown
          # Good to see you again!
        {% endif %}

        {% if locale == 'de' %}
        :kramdown
          # Schön Sie wieder zu sehen!
        {% endif %}

  .dashboard
    .shell
      %a.badge{ href: '{%if locale == default_locale %}/{% else %}/{{locale}}{% endif %}', title: '{{bitaculous.title}} - {{bitaculous.claim}}' }
        %span.title {{bitaculous.title}}

        %span.claim {{bitaculous.claim}}

      %nav.main
        %ul.items
          {% for section in contents.sections %}

          {% capture position %}{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}{% endcapture %}

          {% capture active %}{% if forloop.first %}active{% endif %}{% endcapture %}

          {% assign identifier = section.identifier | downcase | dasherize %}

          %li.item{ class: '{{identifier}} {{active}} {{position}}' }
            %a.internal{ href: '#', title: '{{section.description}}' } {{section.title}}
          {% endfor %}

      %nav.channels
        %ul.items
          {% for channel in bitaculous.channels %}

          {% capture position %}{% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}{% endcapture %}

          {% assign type = channel.type | downcase | dasherize %}

          %li.item{ class: '{{type}} {{position}}' }
            %a.external{ href: '{{channel.url}}', title: '{{channel.description}}', target: '_blank' }
              %i{ class: 'icon-{{type}}' }
          {% endfor %}

      .control-panel
        {% include locales %}

        {% assign contact = bitaculous.emails.first %}

        %a.contact{ href: 'mailto:{{contact.encoded_address}}', title: '{{contact.label}}' } {{contact.title}}