{% assign type = slide.type | downcase | dasherize %}

{% if slide.locales contains current_locale %}
.slide.slick-slide{ class: '{{type}}' }
  .content
    {% if slide.message %}
    %p {{slide.message}}
    {% endif %}

    {% if slide.quote %}
    %h1.title {{slide.quote.title}}

    %p.statement {{slide.quote.statement}}

    %h3.author {{slide.quote.author}}
    {% endif %}
{% endif %}