{% assign type = slide.type | handleize %}
{% assign quote = slide.quote %}

{% if slide.locales contains locale %}
.slide.slick-slide{ class: "{{type}}" }
  .content
    {% if slide.message %}
    %p {{slide.message}}
    {% endif %}

    {% if quote %}
    %h1.title {{quote.title}}

    %p.statement {{quote.statement}}

    {% if quote.author %}
    %h3.author {{quote.author}}
    {% endif %}
    {% endif %}
{% endif %}