%meta{ name: 'twitter:card', content: 'Bitaculous' }/
%meta{ name: 'twitter:creator', content: '@bitaculous' }/
%meta{ name: 'twitter:description', content: '{{site.description}}' }/
%meta{ name: 'twitter:image', content: 'https://bitaculous.com/favicon.png' }/
%meta{ name: 'twitter:site', content: 'https://bitaculous.com' }/
%meta{ name: 'twitter:title', content: 'Bitaculous' }/