{% assign current_locale = locale %}

{% capture locale_path %}{%if locale == default_locale %}/{% else %}/{{locale}}/{% endif %}{% endcapture %}

{% with_scope title: 'Bitaculous' %}
{% assign bitaculous = contents.business_cards.first %}
{% endwith_scope %}