// _hihrig.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/team/members
// @media all
// @version 1.0

@mixin hihrig
  &.hihrig
    .photo
      background: transparent image-url('bundle/contour/common/theatre/stage/sections/team/hub/members/hihrig/photo.jpg') no-repeat center center

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/stage/sections/team/hub/members/hihrig/photo_at_2x.jpg')
        background-size: 300px 192px