// _references.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/work
// @media all
// @version 1.0

@import references/heldenpause
@import references/markenfaktur
@import references/hpk
@import references/intercultural_map

@mixin references
  .references
    margin: 0 auto
    overflow: hidden
    text-align: center
    width: 300px

    .reference
      cursor: pointer

      .view
        position: relative

        .viewport
          position: absolute
          background: red

        &.browser
          background: transparent image-url('bundle/contour/common/theatre/stage/sections/work/hub/references/reference/views/browser/background.png') no-repeat center left
          height: 207px
          width: 300px

          @include hidpi
            background-image: image-url('bundle/contour/common/theatre/stage/sections/work/hub/references/reference/views/browser/background_at_2x.png')
            background-size: 300px 207px

          .viewport
            bottom: rem(4)
            left: rem(4)
            right: rem(4)
            top: rem(14)

      @include heldenpause

      @include markenfaktur

      @include hpk

      @include intercultural-map