// _views.css.sass
//
// @package bundle/contour/index/theatre/stage/sections/work/hub/references/reference/interior

@import views/browser
@import views/mobile

@mixin views
  .views
    cursor: pointer
    margin: 0 auto rem(40)
    position: relative

    .view
      position: relative

      .viewport,
      .overlay,
      .title
        position: absolute

      .overlay
        bottom: 0
        left: 0
        right: 0
        top: 0

      @include browser

      @include mobile