// _browser.css.sass
//
// @package bundle/contour/index/theatre/stage/sections/work/hub/references/reference/interior/views

@mixin browser
  &.browser
    height: 242px
    width: 300px

    .viewport
      bottom: 38px
      left: 4px
      right: 2px
      top: 14px

    .overlay
      @include retina-image('bundle/contour/index/theatre/stage/sections/work/hub/references/reference/interior/views/browser/overlay/background', 300px 242px)

    .title
      color: #000
      font-family: map-get-deep($defaults, font-families, thin)
      font-size: ms(-2)
      left: 3px
      top: 2px