// _mobile.css.sass
//
// @package bundle/contour/index/theatre/stage/sections/work/hub/references/reference/interior/views

@mixin mobile
  &.mobile
    height: 242px
    opacity: 0
    position: absolute
    right: -50px
    top: 40px
    width: 100px

    .viewport
      bottom: 58px
      left: 7px
      right: 5px
      top: 30px

    .overlay
      @include retina-image('bundle/contour/index/theatre/stage/sections/work/hub/references/reference/interior/views/mobile/overlay/background', 100px 242px)