// _reference.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/work/hub/references
// @media all
// @version 1.0

@import reference/views

@mixin reference
  .reference
    cursor: pointer
    text-align: center

    @include views

    h2.title
      border-top: 2px solid #95D9E2
      height: 70px
      margin: 0 auto rem(-12)
      max-width: 300px
      padding: rem(10) 0 0 0

    .label
      display: none
      margin: 0 auto
      max-width: 218px