// _details.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage/sections/contact/reach_us
// @media all
// @version 1.0

@mixin details
  .details
    border-top: 2px solid #006897
    margin: rem(20) 0 0 0

    a.directions
      em.label
        display: none

    nav
      ul.items
        margin: 0

        li.item
          background: none
          padding: 0