// _what_we_do.css.sass
//
// @package bundle/media/screen/large/index/theatre/stage/sections

@mixin what-we-do
  &.what-we-do
    .hub
      .content
        section
          float: left
          width: 324px

          &.first
            margin: 0 rem(16) 0 0

          &.last
            float: right