// _caption.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/work/hub/references/reference

@mixin caption
  h2.caption
    border-top: 2px solid #95D9E2
    height: 70px
    margin: 0 auto rem(-12)
    max-width: 300px
    padding: rem(10) 0 0 0

    .label
      opacity: 0