// _interior.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/work/hub/references/reference

@import interior/views
@import interior/caption

@mixin interior
  .interior
    margin: 0 auto
    text-align: center
    width: map-get-deep($contour, common, theatre, stage, sections, work, hub, references, reference, interior, width)

    @include views

    @include caption