// _vault.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/work/hub/references/reference

@import vault/views
@import vault/caption

@mixin vault
  .vault
    margin: 0 auto
    width: 300px
    text-align: center

    @include views

    @include caption