// _member.css.sass
//
// @package bundle/media/screen/index/common/theatre/stage/sections/team/hub/members

@mixin member
  .member
    float: left
    width: 300px

    &.mkempe
      margin: 0 20px 20px 0

    &.mriekert
      margin: 0 0 20px

    &.rkaufmann
      margin: 0 20px 0 0

    &.hihrig
      margin: 0