// _introduction.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/abstract
// @media all
// @version 1.0

@mixin introduction
  .introduction
    background: transparent image-url('bundle/contour/common/theatre/stage/sections/abstract/introduction/background.png') repeat center center
    padding: rem(20) 0 rem(40)
    position: relative
    text-align: center
    z-index: 20

    i.icon-love
      font-size: ms(0.75)

    &.transparent
      background: none