// _shady.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/abstract

@mixin shady
  .shady
    height: 100%
    position: absolute
    width: 100%

    @include linear-gradient(#A22644, #D24044)