// _slider.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/abstract

@mixin slider
  .slider
    padding: rem(164) 0 0
    z-index: 20

    .slide
      height: 380px

      .content
        margin: 0 rem(10)
        text-align: center

        @include vertical-align

        p
          margin: 0 auto

        a
          font-family: map-get-deep($defaults, font-families, bold)

      &.message
        .content
          p
            font-size: ms(3.5)

      &.quote
        .content
          p.title,
          p.statement
            margin: 0 auto rem(10)

          p.title,
            font-family: map-get-deep($defaults, font-families, bold)
            font-size: ms(3.5)

          p.statement
            max-width: 800px

          p.statement,
          p.author
            font-size: ms(1.5)

          p.author
            font-family: map-get-deep($defaults, font-families, bold)

    .slick-dots
      bottom: rem(10)