// _badge.css.sass
//
// @package bundle/media/screen/large/common/theatre/roof/dashboard

@mixin badge
  .badge
    width: 306px

    span
      &.title
        top: rem(0)

      &.claim
        top: rem(36)