// _basement.css.sass
//
// @package bundle/contour/common/theatre
// @media all
// @version 1.0

@import basement/get_in_touch
@import basement/manual

@mixin basement
  .basement
    background: #000
    padding: rem(10) 0
    position: relative
    text-align: center
    z-index: 100

    span,
    a
      display: block

    span.divider
      display: none

    @include get_in_touch

    @include manual