// _basement.css.sass
//
// @package bundle/contour/common/theatre
// @media all
// @version 1.0

@mixin basement
  .basement
    background: #000
    padding: rem(10) 0
    text-align: center
    z-index: 100

    span
    a,
      display: block

    span.divider
      display: none

    .contact
      margin: 0 0 rem(10)

    a.imprint
      margin: 0 0 rem(10)