// _basement.css.sass
//
// @package bundle/contour/common/theatre
// @media all
// @version 1.0

@mixin basement
  .basement
    background: transparent image-url('bundle/contour/common/theatre/basement/background.png') repeat center center
    bottom: 0
    left: 0
    position: fixed
    right: 0
    z-index: 100

    .shell
      height: 42px
      line-height: rem(42)

    span.copyright
      position: absolute
      right: rem(10)
      top: 0