// _roof.css.sass
//
// @package bundle/contour/common/theatre
// @media all
// @version 1.0

@import roof/backstage
@import roof/dashboard
@import roof/slim

@mixin roof
  .roof
    left: 0
    position: fixed
    right: 0
    text-align: center
    top: 0
    z-index: 100

    @include backstage

    @include dashboard

    @include slim