// _roof.css.sass
//
// @package bundle/contour/common/theatre
// @media all
// @version 1.0

@import roof/backstage

@mixin roof
  .roof
    background: red
    left: 0
    position: fixed
    right: 0
    top: 0

    @include backstage