// _shell.css.sass
//
// @package bundle/contour/common/theatre
// @media all
// @version 1.0

@mixin shell
  .shell
    margin: 0 auto
    padding: 0 rem(10)
    max-width: map-get-deep($contour, common, theatre, shell, max-width)