// _shell.css.sass
//
// @package bundle/contour/common/theatre

@mixin shell
  .shell
    margin: 0 auto
    overflow: hidden
    padding: map-get-deep($contour, common, theatre, shell, padding)
    position: relative

    @include clearfix