// _stage.css.sass
//
// @package bundle/contour/common/theatre

@import stage/sections/abstract
@import stage/sections/what_we_do
@import stage/sections/work
@import stage/sections/team
@import stage/sections/content

@mixin stage
  .stage
    .shell
      ul
        margin: 0 0 rem(10)

        li
          background-position: left rem(4)
          background-repeat: no-repeat
          padding: 0 0 rem(10) rem(20)

    section
      position: relative
      z-index: 10

      .flap
        height: 14px

      .hub
        padding: 0 0 rem(34)

        .heading
          font-family: map-get-deep($defaults, font-families, headings)
          padding: rem(80) 0 rem(20)
          text-align: center

          h1
            text-transform: uppercase

      p,
      ul
        @include hyphenate

      a
        @include text-decoration

      @include abstract

      @include what-we-do

      @include work

      @include team

      @include content