---
title: "404"
seo_title: "Seite wurde nicht gefunden."
meta_description: "Seite wurde nicht gefunden."
meta_keywords: "404, Bitaculous"
---
{% extends 'index' %}

{% block 'theatre/stage' %}

%section.content
  {% block 'content' %}

  .shell
    :markdown
      # Seite wurde nicht gefunden

      Es tut uns Leid, die von Ihnen gesuchte Seite konnte nicht gefunden werden.

  {% endblock %}
  -# Block `content`

{% endblock %}
-# Block `theatre/stage`