---
title: "404"
seo_title: "Page not found."
meta_description: "Page not found."
meta_keywords: "404, Bitaculous"
published: true
listed: false
searchable: false
cache_strategy: "simple"
handle: "page_not_found"
---
{% extends 'index' %}

{% block 'theatre/stage' %}

%section.content
  {% block 'content' %}

  .shell
    :markdown
      # Page not found

      The page you are looking for seems to be missing.

  {% endblock %}
  -# Block `content`

{% endblock %}
-# Block `theatre/stage`