---
title: "Page not found."
seo_title: "404 | Bitaculous"
meta_description: "It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, 404"
published: true
listed: false
searchable: false
handle: "page_not_found"
---
{% extends 'index' %}

{% block 'theatre/stage' %}
%section.content
  {% block 'content' %}

  %h1 {{'page_not_found' | translate}}

  {% endblock %}
  -# Block `content`

{% endblock %}
-# Block `theatre/stage`