---
title: "Imprint"
seo_title: "Imprint | Bitaculous"
meta_description: "Imprint, Disclaimer"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, imprint, disclaimer"
published: true
listed: true
searchable: true
handle: "imprint"
position: 2
---
{% extends 'index' %}

{% block 'theatre/stage' %}

%section.content
  {% block 'content' %}

  .shell
    {% assign address = bitaculous.addresses.first %}
    {% assign telephone = bitaculous.telephone_numbers.first %}
    {% assign email = bitaculous.emails.first %}

    :kramdown
      # Imprint

      *Information in accordance with § 5 of the Telemedia Act (TMG).*

      **{{bitaculous.title}}**<br />
      {{bitaculous.contact_person}}<br />
      {{address.street}}<br />
      {{address.postal_code}} {{address.city}}

      **Responsible for the content**<br />
      {{bitaculous.contact_person}}

      **Tax Office Number**<br />
      {{bitaculous.tax_office_number}}

      ## Contact

      **Telephone:** [{{telephone.formatted_number}}](tel:{{telephone.number}} "{{telephone.label}}"){: .telephone}<br />
      **Email:** [{{email.address}}]({{'mailto:' | append: email.encoded_address}} "{{email.label}}"){: .email}

      # Disclaimer

      ## Accountability for content

      The contents of our pages have been created with the utmost care. However, we cannot guarantee the content's
      accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our
      own content on these web pages. In this matter, please note that we are not obliged to monitor the transmitted or
      saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to
      remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10
      of the Telemedia Act (TMG).

      ## Accountability for links

      Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of
      the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become
      known to us, we will remove the respective link immediately.

      ## Copyright

      Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a et
      seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright
      protection on our web pages requires the prior consent of the respective owner of the rights. Individual
      reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for
      earnings. The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.

    {% with_scope name: 'markenfaktur' %}
    {% assign markenfaktur = contents.business_cards.first %}
    {% endwith_scope %}

    {% assign address = markenfaktur.addresses.first %}
    {% assign email = markenfaktur.emails.first %}
    {% assign web = markenfaktur.links.first %}

    :kramdown
      ## Design:

      {{markenfaktur.title}}, {{address.city}}<br />
      [{{email.address}}]({{'mailto:' | append: email.encoded_address}} "{{email.label}}"){: .email}<br />
      [{{web.title}}]({{web.url}} "{{web.label}}"){: .external target="_blank"}

  {% endblock %}
  -# Block `content`

{% endblock %}
-# Block `theatre/stage`