---
title: "Home"
seo_title: "Bitaclous"
meta_description: "Bitaculous - It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby"
published: true
listed: true
position: 1
---

!!! 5
<!--[if IE 7]> <html class="ie7 ie no-js" itemscope itemtype="http://schema.org/WebPage" lang="{{ locale }}"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie no-js" itemscope itemtype="http://schema.org/WebPage" lang="{{ locale }}"> <![endif]-->
<!--[if IE 9]> <html class="ie9 ie no-js" itemscope itemtype="http://schema.org/WebPage" lang="{{ locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
%html.no-js{ itemscope: true, itemtype: 'http://schema.org/WebPage', lang: '{{ locale }}' }
  <!--<![endif]-->
  {% include head %}

  %body{ id: '{{ page.slug }}' }
    %h1 {{ page.title }}

    {% block 'main' %}

    %p Lorem ipsum....

    {% endblock %}

    {{ 'bundle.js' | javascript_tag }}