---
title: "Home"
seo_title: "A development studio, located in Berlin, builds websites, software and apps for the Web and Mobile."
meta_description: "Bitaculous builds websites, software and apps for the Web and Mobile with passion and love."
meta_keywords: "AngularJS, Apps, Backbone.js, Berlin, Bitaculous, Coding, CoffeeScript, Development, Ember.js, Haml, JavaScript, Less, LocomotiveCMS, Love, Middleman, Mobile, Passion, Programming, Ruby, Ruby on Rails, Sass, Shopify, Shopware, Sinatra, Software, Spree, TYPO3, TYPO3 Neos, Web, Websites, WordPress"
published: true
listed: true
searchable: true
cache_strategy: "none"
handle: "index"
position: 1
---
{% include 'variables' %}

!!! 5
%html.no-js{ itemscope: true, itemtype: 'http://schema.org/WebPage', lang: "{{locale}}" }
  {% include 'head' %}

  %body{ id: "{{identifier}}", class: "{{locale}} canvas" }
    {% include 'top' %}

    .theatre
      {% block 'theatre' %}

      {% include 'roof' %}

      %main.stage{ role: 'main' }
        {% block 'stage' %}

        %section.overview.first{ data: { id: 'overview', alias: 'home', offset: '-1' } }
          {% block 'overview' %}

          {% include 'shady' %}

          {% include 'slider' %}

          .introduction
            .shell
              :kramdown
                Hey there, we are Bitaculous, a development studio, located in Berlin. We build websites, software and
                apps for the Web and Mobile.

                We support our customers in close cooperation from the initial idea through to the launch and beyond.
                We plan. We design. We develop. We ship. - All with passion and <i class="icon-love" title="Love"></i>.

          {% endblock %}
          -# Block `overview`

        %section.what-we-do{ data: { id: 'what_we_do', alias: 'about', offset: '112' } }
          {% block 'what_we_do' %}

          {% include 'flap' %}

          .hub
            .heading
              .shell
                :kramdown
                  # What we do

            .content
              .shell
                %section.projects.first
                  :kramdown
                    ## Projects

                    At Bitaculous we do a lot of things, but we are specialized in:

                    * Building [responsive]{: .external target="_blank"} websites including a [content management system]{: .external target="_blank"},
                      which shine on every device and let our clients easily add and update their content.
                    * Developing custom applications for the Web and Mobile, which are specifically tailored to the
                      client's wishes.
                    * Building online stores, which help our clients to sell their products online.

                    [content management system]: http://en.wikipedia.org/wiki/Content_management_system "A application that allows publishing, editing and modifying content as well as maintenance from a central interface."
                    [responsive]: http://en.wikipedia.org/wiki/Responsive_web_design "A web design approach aimed at crafting sites to provide an optimal viewing experience."

                %section.technologies
                  :kramdown
                    ## Technologies

                    Depending on the type of project, we use a variety of technologies, these include:

                    * [Ruby]{: .external target="_blank"}, [Ruby on Rails]{: .external target="_blank"}, [Sinatra]{: .external target="_blank"}
                    * [Haml]{: .external target="_blank"}, [Sass]{: .external target="_blank"}, [Less]{: .external target="_blank"},
                      [Bootstrap]{: .external target="_blank"}, [Foundation]{: .external target="_blank"}
                    * [JavaScript]{: .external target="_blank"} / [CoffeeScript]{: .external target="_blank"}, [Ember.js]{: .external target="_blank"},
                      [AngularJS]{: .external target="_blank"}, [Backbone.js]{: .external target="_blank"}
                    * [LocomotiveCMS]{: .external target="_blank"}, [TYPO3]{: .external target="_blank"} / [TYPO3 Neos]{: .external target="_blank"},
                      [Middleman]{: .external target="_blank"}, [WordPress]{: .external target="_blank"}
                    * [Shopware]{: .external target="_blank"}, [Spree]{: .external target="_blank"}, [Shopify]{: .external target="_blank"}

                    [AngularJS]: https://angularjs.org "Superheroic JavaScript MVW Framework"
                    [Backbone.js]: http://coffeescript.org "A tool that gives you the freedom to design the full experience of your web application."
                    [Bootstrap]: http://getbootstrap.com "The most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web."
                    [CoffeeScript]: http://coffeescript.org "A little language that compiles into JavaScript."
                    [Ember.js]: http://emberjs.com "A framework for creating ambitious web applications."
                    [Foundation]: http://foundation.zurb.com "The most advanced responsive front-end framework in the world."
                    [Haml]: http://haml.info "Beautiful, DRY, well-indented, clear markup: templating haiku."
                    [JavaScript]: http://en.wikipedia.org/wiki/JavaScript "A dynamic computer programming language."
                    [Less]: http://lesscss.org "Leaner CSS"
                    [LocomotiveCMS]: http://locomotivecms.com "An open source CMS for Rails"
                    [Middleman]: http://middlemanapp.com "Hand-crafted frontend development"
                    [Ruby]: https://www.ruby-lang.org "A dynamic, open source programming language with a focus on simplicity and productivity."
                    [Ruby on Rails]: http://rubyonrails.org "An open source web framework that's optimized for programmer happiness and sustainable productivity."
                    [Sass]: http://sass-lang.com "Syntactically Awesome Style Sheets"
                    [Shopify]: http://www.shopify.com "Ecommerce Software, Online Store Builder, Website Store Hosting Solution"
                    [Shopware]: http://www.shopware.com "A powerful and flexible eCommerce software."
                    [Sinatra]: http://www.sinatrarb.com "Sinatra is a DSL for quickly creating web applications in Ruby with minimal effort."
                    [Spree]: http://spreecommerce.com "A complete open source e-commerce solution for Ruby on Rails."
                    [TYPO3 Neos]: http://neos.typo3.org "The next-generation open source content management system made by the TYPO3 community."
                    [TYPO3]: http://typo3.org "The Enterprise Open Source CMS"
                    [WordPress]: https://wordpress.org "WordPress is a free and open source blogging tool and a content management system (CMS) based on PHP and MySQL."

                %section.open-source.last
                  :kramdown
                    ## Open Source

                    Bitaculous lives and breathes Open Source. Wherever possible, we use open standards in our client
                    projects. But we also like to give something [back]{: .external target="_blank"}. We are thankful to
                    work with a variety of projects and communities.

                    [back]: https://github.com/bitaculous "Bitaculous on GitHub"

          {% endblock %}
          -# Block `what_we_do`

        %section.work{ data: { id: 'work', offset: '112' } }
          {% block 'work' %}

          {% include 'flap' %}

          .hub
            .heading
              .shell
                :kramdown
                  # Work

            {% include 'references' %}

          {% endblock %}
          -# Block `work`

        %section.team.last{ data: { id: 'team', offset: '112' } }
          {% block 'team' %}

          {% include 'flap' %}

          .hub
            .heading
              .shell
                :kramdown
                  # Team

                  To create stunning results you need more than technical skills. So we have teamed up and cooperate
                  with others, because we can achieve more together.

                  We love what we do, and constantly push ourselves to do it better.

            {% include 'members' %}

          {% endblock %}
          -# Block `team`

        {% endblock %}
        -# Block `stage`

      {% include 'basement' %}

      {% endblock %}
      -# Block `theatre`

    {% include 'javascripts' %}

    {% include 'piwik' %}