---
title: "Home"
seo_title: "Bitaclous"
meta_description: "Bitaculous - It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby"
published: true
listed: true
position: 1
---

!!!
%html{ lang: 'en' }
  %head
    {% include meta_tags %}

    %title {{ page.seo_title | default: page.title }}

    {% include stylesheets %}

    {% include javascripts %}

    {% inline_editor %}

  %body{ id: '{{ page.slug }}' }
    %h1 {{ page.title }}

    {% block 'main' %}

    %p Lorem ipsum....

    {% endblock %}