---
title: "Home"
seo_title: "Bitaclous"
meta_description: "It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, web, application, development, berlin"
published: true
listed: true
position: 1
---

{% assign bitaculous = contents.sites.first %}

!!! 5
%html.no-js{ itemscope: true, itemtype: 'http://schema.org/WebPage', lang: '{{ locale }}' }
  {% include head %}

  %body{ id: '{{ page.slug }}', class: 'default canvas' }
    .theatre
      {% block 'theatre' %}

      %header.roof
        {% block 'roof' %}

        .backstage
          .contact
            %h1 Contact

        %nav.main
          %ul.items
            {% for section in contents.sections %}

            {% assign identifier = section.identifier | downcase | dasherize %}

            %li{ class: "{{ identifier }} item" }
              %a{ href: '#', title: "{{ section.description }}" } {{ section.title }}
            {% endfor %}

        %nav.channels
          %ul.items
            {% for channel in contents.channels %}

            {% assign identifier = channel.type | downcase | dasherize %}

            %li{ class: "{{ identifier }} item" }
              %a{ href: "{{ channel.url }}", title: "{{ channel.description }}", target: '_blank' }
                %i{ class: "icon-{{ identifier }}" }
            {% endfor %}

        %a.bitaculous{ href: '#', title: "{{ bitaculous.title }} - {{ bitaculous.claim }}" }
          %span.title {{ bitaculous.title }}

          %span.claim {{ bitaculous.claim }}

        {% endblock %}
        -# Block `roof`

      .stage
        {% block 'stage' %}

        %section.outline
          %h1 “We built websites which shine inside and outside.”

        %section.what-we-do
          %h1 “We built websites which shine inside and outside.”

        %section.work
          %h1 “We built websites which shine inside and outside.”

        %section.team
          %h1 “We built websites which shine inside and outside.”

        {% endblock %}
        -# Block `stage`

      %footer.basement
        {% block 'basement' %}

        %h1 Basement

        {% endblock %}
        -# Block `basement`

      {% endblock %}
      -# Block `theatre`

    {{ 'bundle.js' | javascript_tag }}