---
title: "Home"
seo_title: "Bitaclous"
meta_description: "It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, web, application, development, berlin"
published: true
listed: true
position: 1
---
{% include 'variables' %}

!!! 5
%html.no-js{ itemscope: true, itemtype: 'http://schema.org/WebPage', lang: '{{locale}}' }
  {% include 'head' %}

  %body{ id: '{{page.slug}}', class: 'default canvas' }
    .theatre
      {% block 'theatre' %}

      {% include 'roof' %}

      %main.stage{ role: 'main' }
        {% block 'stage' %}

        %section.outline
          .shell
            .slick-slider.slider
              {% for slide in contents.slides %}

              {% assign type = slide.type | downcase | dasherize %}

              .slick-slide.slide{ class: '{{type}}' }
                {% if slide.message %}
                %p.message {{slide.message}}
                {% endif %}

                {% if slide.quote %}
                %p.title {{slide.quote.title}}

                %p.statement {{slide.quote.statement}}

                %p.author {{slide.quote.author}}
                {% endif %}

              {% endfor %}

        {% endblock %}
        -# Block `stage`

      %footer.basement
        {% block 'basement' %}

        .shell
          %h1 Basement

        {% endblock %}
        -# Block `basement`

      {% endblock %}
      -# Block `theatre`

    {{'bundle.js' | javascript_tag}}