---
title: "Home"
seo_title: "Bitaclous"
meta_description: "It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, web, mobile, application, development, berlin"
published: true
listed: true
searchable: true
handle: "index"
position: 1
---
{% include 'variables' %}

!!! 5
%html.no-js{ itemscope: true, itemtype: 'http://schema.org/WebPage', lang: '{{locale}}' }
  {% include 'head' %}

  %body{ id: '{{page.slug}}', class: 'default canvas' }
    .theatre
      {% block 'theatre' %}

      {% include 'roof' %}

      %main.stage{ role: 'main' }
        {% block 'stage' %}

        %section.outline.first
          {% block 'outline' %}

          .shady

          .slick-slider.slider
            {% for slide in contents.slides %}

            {% assign type = slide.type | downcase | dasherize %}

            .slick-slide.slide{ class: '{{type}}' }
              .content
                {% if slide.message %}
                %p {{slide.message}}
                {% endif %}

                {% if slide.quote %}
                %h1.title {{slide.quote.title}}

                %p.statement {{slide.quote.statement}}

                %p.author {{slide.quote.author}}
                {% endif %}

            {% endfor %}

          .introduction
            .shell
              {% editable_text 'outline_introduction', hint: 'Introduction (“Outline“)', priority: 1 %}

              {% if locale == 'en' %}
              :kramdown
                Hey there, we are Bitaculous, a development studio, located in Berlin. We build websites, software and
                apps for web and mobile.

                We support our customers in close cooperation from the initial idea through to the launch and beyond.
                We develop an understanding of the needs and requirements of the users. We outline. We design. We
                assemble bits. - All with passion and <i class="icon-heart" title="Love"></i>.
              {% endif %}

              {% if locale == 'de' %}
              :kramdown
                Hallo Besucher, wir sind Bitaculous, ein Entwicklungsstudio aus Berlin. Wir entwickeln Websites,
                Software und Apps für das Web und Mobile.

                Wir unterstützen unsere Kunden in enger Zusammenarbeit von der ersten Idee bis zum Start und darüber
                hinaus. Wir entwickeln ein Verständnis für die Bedürfnisse und Anforderungen der Benutzer. Wir
                skizzieren. Wir entwerfen. Wir fügen Bits zusammen. - Alles mit Leidenschaft und <i class="icon-heart" title="Liebe"></i>.
              {% endif %}

              {% endeditable_text %}

          {% endblock %}
          -# Block `outline`

        %section.what-we-do
          {% block 'what_we_do' %}

          .flap

          .hub
            .shell
              .header
                {% editable_text 'what_we_do_header', hint: 'Header (“What we do”)', priority: 2 %}

                {% if locale == 'en' %}
                :kramdown
                  # What we do
                {% endif %}

                {% if locale == 'de' %}
                :kramdown
                  # Was wir machen
                {% endif %}

                {% endeditable_text %}

              .content
                %section.projects.first
                  {% editable_text 'what_we_do_projects', hint: 'Projects we do (“What we do”)', priority: 3 %}

                  {% if locale == 'en' %}
                  :kramdown
                    ## Projects

                    At Bitaculous we do a lot of things, but we are specialized in:

                    * Building [responsive](http://en.wikipedia.org/wiki/Responsive_web_design "A web design approach aimed at crafting sites to provide an optimal viewing experience."){: .external target="_blank"}
                      websites including a [content management system](http://en.wikipedia.org/wiki/Content_management_system "A application that allows publishing, editing and modifying content as well as maintenance from a central interface."){: .external target="_blank"},
                      which shine on every device and let our clients easily add and update their content.
                    * Developing custom applications for web and mobile, which are specifically tailored to the client's
                      wishes.
                    * Building online stores, which help our clients to sell their products online.
                  {% endif %}

                  {% if locale == 'de' %}
                  :kramdown
                    ## Projekte

                    Wir bei Bitaculous entwickeln unterschiedlichste Dinge, jedoch sind wir auf folgendes spezialisiert:

                    * Entwicklung von [Responsive](http://de.wikipedia.org/wiki/Responsive_Webdesign "Ein gestalterischer und technischer Ansatz zur Erstellung von Websites, so dass diese auf Eigenschaften des jeweils benutzten Endgeräts reagieren können."){: .external target="_blank"}
                      Websites inklusive [Content-Management-System](http://de.wikipedia.org/wiki/Content-Management-System "Eine Software zur gemeinschaftlichen Erstellung, Bearbeitung und Organisation von Inhalten (Content)."){: .external target="_blank"},
                      welche auf jedem Gerät strahlen und die es unseren Kunden ermöglicht, Inhalte einfach zu erstellen
                      und zu bearbeiten.
                    * Die Entwicklung kundenspezifischer Anwendungen für Web und Mobile, die genau auf die Wünsche des
                      Kunden zugeschnitten sind.
                    * Erstellung von Online-Shops, die unseren Kunden helfen, ihre Produkte online zu verkaufen.
                  {% endif %}

                  {% endeditable_text %}

                %section.technologies
                  {% editable_text 'what_we_do_technologies', hint: 'Technologies we use (“What we do”)', priority: 4 %}

                  {% if locale == 'en' %}
                  :kramdown
                    ## Technologies

                    Depending on the type of project, we use a variety of technologies, these include:

                    * [Ruby](https://www.ruby-lang.org "A dynamic, open source programming language with a focus on simplicity and productivity."){: .external target="_blank"},
                      [Ruby on Rails](http://rubyonrails.org "An open source web framework that's optimized for programmer happiness and sustainable productivity."){: .external target="_blank"}
                    * [Haml](http://haml.info "Beautiful, DRY, well-indented, clear markup: templating haiku."){: .external target="_blank"},
                      [Sass](http://sass-lang.com "Syntactically Awesome Style Sheets"){: .external target="_blank"}
                    * [JavaScript](http://en.wikipedia.org/wiki/JavaScript "A dynamic computer programming language."){: .external target="_blank"} /
                      [CoffeeScript](http://coffeescript.org "A little language that compiles into JavaScript."){: .external target="_blank"},
                      [Ember.js](http://emberjs.com "A framework for creating ambitious web applications."){: .external target="_blank"},
                      [Backbone.js](http://coffeescript.org "A tool that gives you the freedom to design the full experience of your web application."){: .external target="_blank"}
                    * [TYPO3](http://typo3.org "The Enterprise Open Source CMS"){: .external target="_blank"} /
                      [TYPO3 Neos](http://neos.typo3.org "The next-generation open source content management system made by the TYPO3 community."){: .external target="_blank"},
                      [LocomotiveCMS](http://locomotivecms.com "An open source CMS for Rails"){: .external target="_blank"},
                      [Middleman](http://middlemanapp.com "Hand-crafted frontend development"){: .external target="_blank"}
                    * [Shopware](http://www.shopware.com "A powerful and flexible eCommerce software."){: .external target="_blank"},
                      [Spree](http://spreecommerce.com "A complete open source e-commerce solution for Ruby on Rails."){: .external target="_blank"},
                      [Shopify](http://www.shopify.com "Ecommerce Software, Online Store Builder, Website Store Hosting Solution"){: .external target="_blank"}
                  {% endif %}

                  {% if locale == 'de' %}
                  :kramdown
                    ## Technologien

                    Je nach Art des Projektes setzen wir verschiedene Technologien ein, dazu gehören:

                    * [Ruby](https://www.ruby-lang.org "A dynamic, open source programming language with a focus on simplicity and productivity."){: .external target="_blank"},
                      [Ruby on Rails](http://rubyonrails.org "An open source web framework that's optimized for programmer happiness and sustainable productivity."){: .external target="_blank"}
                    * [Haml](http://haml.info "Beautiful, DRY, well-indented, clear markup: templating haiku."){: .external target="_blank"},
                      [Sass](http://sass-lang.com "Syntactically Awesome Style Sheets"){: .external target="_blank"}
                    * [JavaScript](http://en.wikipedia.org/wiki/JavaScript "A dynamic computer programming language."){: .external target="_blank"} /
                      [CoffeeScript](http://coffeescript.org "A little language that compiles into JavaScript."){: .external target="_blank"},
                      [Ember.js](http://emberjs.com "A framework for creating ambitious web applications."){: .external target="_blank"},
                      [Backbone.js](http://coffeescript.org "A tool that gives you the freedom to design the full experience of your web application."){: .external target="_blank"}
                    * [TYPO3](http://typo3.org "The Enterprise Open Source CMS"){: .external target="_blank"} /
                      [TYPO3 Neos](http://neos.typo3.org "The next-generation open source content management system made by the TYPO3 community."){: .external target="_blank"},
                      [LocomotiveCMS](http://locomotivecms.com "An open source CMS for Rails"){: .external target="_blank"},
                      [Middleman](http://middlemanapp.com "Hand-crafted frontend development"){: .external target="_blank"}
                    * [Shopware](http://www.shopware.com "A powerful and flexible eCommerce software."){: .external target="_blank"},
                      [Spree](http://spreecommerce.com "A complete open source e-commerce solution for Ruby on Rails."){: .external target="_blank"},
                      [Shopify](http://www.shopify.com "Ecommerce Software, Online Store Builder, Website Store Hosting Solution"){: .external target="_blank"}
                  {% endif %}

                  {% endeditable_text %}

                %section.open-source.last
                  {% editable_text 'what_we_do_open_source', hint: 'Open Source (“What we do”)', priority: 5 %}

                  {% if locale == 'en' %}
                  :kramdown
                    ## Open Source

                    Bitaculous live and breathe Open Source. Wherever possible, we use open standards in our client
                    projects. But we also like to give something [back](https://github.com/bitaculous "Bitaculous on GitHub"){: .external target="_blank"}.
                    We are thankful to work with a variety of projects and communities.
                  {% endif %}

                  {% if locale == 'de' %}
                  :kramdown
                    ## Open Source

                    Bitaculous lebt und atmet Open Source. Wenn immer möglich, verwenden wir offene Standards in unseren
                    Kundenprojekten. Aber wir auch etwas [zurück](https://github.com/bitaculous "Bitaculous bei GitHub"){: .external target="_blank"}.
                    Wir sind dankbar, mit einer Vielzahl von Projekten und Entwicklern zusammenzuarbeiten.
                  {% endif %}

                  {% endeditable_text %}

          {% endblock %}
          -# Block `what_we_do`

        %section.work
          {% block 'work' %}

          .flap

          .hub
            .shell
              .header
                {% editable_text 'work_header', hint: 'Header (“Work”)', priority: 6 %}

                {% if locale == 'en' %}
                :kramdown
                  # Work
                {% endif %}

                {% if locale == 'de' %}
                :kramdown
                  # Referenzen
                {% endif %}

                {% endeditable_text %}

          {% endblock %}
          -# Block `work`

        %section.team.last
          {% block 'team' %}

          .flap

          .hub
            .shell
              .header
                {% editable_text 'team_header', hint: 'Header (“Team”)', priority: 7 %}

                {% if locale == 'en' %}
                :kramdown
                  # Team

                  To create stunning results you need more than technical skills, so we've teamed up and work together.

                  We love what we do, and constantly push ourselves to do it better.
                {% endif %}

                {% if locale == 'de' %}
                :kramdown
                  # Team

                  Um beeindruckende Ergebnisse zu schaffen braucht man mehr als technische Fähigkeiten, deshalb
                  kooperieren wir mit anderen um gemeinsam mehr zu erreichen.

                  Wir lieben was wir tun und bemühen uns ständig es besser zu machen.
                {% endif %}

                {% endeditable_text %}

              .members
                {% for member in contents.team_members %}

                {% assign identifier = member.identifier | downcase | dasherize %}

                %div{ class: '{{identifier}} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} member' }
                  .photo{ title: '{{member.name}}' }

                  %p.name {{member.name}}

                  %p.profession {{member.profession}}

                  {% if member.claim %}
                  %p.claim {{member.claim}}
                  {% endif %}

                  {% if member.details %}
                  %p.details {{member.details}}
                  {% endif %}

                {% endfor %}

          {% endblock %}
          -# Block `team`

        {% endblock %}
        -# Block `stage`

      {% include 'basement' %}

      {% endblock %}
      -# Block `theatre`

    {{'bundle.js' | javascript_tag}}