---
title: "Home"
seo_title: "Bitaclous"
meta_description: "It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, web, application, development, berlin"
published: true
listed: true
position: 1
---

!!! 5
%html.no-js{ itemscope: true, itemtype: 'http://schema.org/WebPage', lang: '{{ locale }}' }
  {% include head %}

  %body{ id: '{{ page.slug }}', class: 'default canvas' }
    .theatre
      %header.roof
        .backstage
          .contact
            %h1 Contact

        %a.bitaculous{ href: '#', title: "{{ 'bitaculous_name' | translate }} - {{ 'bitaculous_claim' | translate }}" }
          %span.name {{ 'bitaculous_name' | translate }}

          %span.claim {{ 'bitaculous_claim' | translate }}

      .stage
        %section.outline
          %h1 “We built websites which shine inside and outside.”

        %section.what-we-do
          %h1 “We built websites which shine inside and outside.”

        %section.work
          %h1 “We built websites which shine inside and outside.”

        %section.team
          %h1 “We built websites which shine inside and outside.”

      %footer.basement
        %h1 Basement

    {{ 'bundle.js' | javascript_tag }}