!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'keywords', value: '{{ site.meta_keywords }}' }
    %meta{ name: 'description', value: '{{ site.meta_description }}' }

    %title {{ site.name }}

  %body
    %h1 {{ page.title }}

    {% block 'main' %}

    %p Lorem ipsum....

    {% endblock %}