---
title: "Home"
seo_title: "Bitaclous"
meta_description: "It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, web, application, development, berlin"
published: true
listed: true
position: 1
---
{% include 'variables' %}

!!! 5
%html.no-js{ itemscope: true, itemtype: 'http://schema.org/WebPage', lang: '{{locale}}' }
  {% include 'head' %}

  %body{ id: '{{page.slug}}', class: 'default canvas' }
    .theatre
      {% block 'theatre' %}

      {% include 'roof' %}

      %main.stage{ role: 'main' }
        {% block 'stage' %}

        %section.outline
          {% block 'outline' %}
          .shady

          .slick-slider.slider
            {% for slide in contents.slides %}

            {% assign type = slide.type | downcase | dasherize %}

            .slick-slide.slide{ class: '{{type}}' }
              .content
                {% if slide.message %}
                %p {{slide.message}}
                {% endif %}

                {% if slide.quote %}
                %p.title {{slide.quote.title}}

                %p.statement {{slide.quote.statement}}

                %p.author {{slide.quote.author}}
                {% endif %}

            {% endfor %}

          .introduction
            .shell
              .first.part
                {% editable_text 'introduction_first_part', hint: 'First part of `introduction`.', priority: 1 %}

                {% if locale == 'en' %}
                :markdown
                  Hey there, we are Bitaculous, a creative technology company, located in Berlin. We build websites,
                  software and apps for web and mobile.
                {% endif %}

                {% if locale == 'de' %}
                :markdown
                  Hallo Besucher, wir sind Bitaculous, ein kreatives Technologie Unternehmen aus Berlin. Wir entwickeln
                  Websites, Software und Apps für das Web und Mobile.
                {% endif %}

                {% endeditable_text %}

              .second.part
                {% editable_text 'introduction_second_part', hint: 'Second part of `introduction`.', priority: 2 %}

                {% if locale == 'en' %}
                :markdown
                  We support our customers in close cooperation from the initial idea through to the launch and beyond.
                  We develop an understanding of the needs and requirements of the users. We outline. We design. We
                  assemble bits. - All with passion and <i class="icon-heart" title="Love"></i>.
                {% endif %}

                {% if locale == 'de' %}
                :markdown
                  Wir unterstützen unsere Kunden in enger Zusammenarbeit von der ersten Idee bis zum Start und darüber
                  hinaus. Wir entwickeln ein Verständnis für die Bedürfnisse und Anforderungen der Benutzer. Wir skizzieren.
                  Wir entwerfen. Wir fügen Bits zusammen. - Alles mit Leidenschaft und <i class="icon-heart" title="Liebe"></i>.
                {% endif %}

                {% endeditable_text %}

          {% endblock %}
          -# Block `outline`

        %section.what-we-do
          {% block 'what_we_do' %}

          .flap

          .hub
            .shell
              .header
                %h1 {{'what_we_do' | translate}}

              .content
                %section.projects.first
                  {% editable_text 'what_we_do_projects', hint: 'Projects we do.', priority: 3 %}

                  {% if locale == 'en' %}
                  :kramdown
                    ## Projects

                    [bitaculous.com](http://bitaculous.com "bitaculous.com"){:target="_blank"}

                    At Bitaculous we do a lot of things, but we are specialized in:

                    * Building [responsive](http://en.wikipedia.org/wiki/Responsive_web_design "A web design approach aimed at crafting sites to provide an optimal viewing experience." {:target="_blank"})
                      websites including a [content management system](http://en.wikipedia.org/wiki/Content_management_system "A application that allows publishing, editing and modifying content as well as maintenance from a central interface."),
                      which shine on every device and let our clients easily add and update their content.
                    * Developing custom applications for web and mobile, which are specifically tailored to the client's
                      wishes.
                    * Building online stores, which help our clients to sell their products online.
                  {% endif %}

                  {% if locale == 'de' %}
                  :markdown
                    ## Projekte

                    Bei Bitaculous machen wir viele Dinge, jedoch sind wir auf folgendes spezialisiert:

                    * Entwicklung von Responsive Websites inklusive CMS




                    * Developing custom applications for web and mobile, which are specifically tailored to the client's
                      wishes.
                    * Building online stores, which help our clients to sell their products online.
                  {% endif %}

                  {% endeditable_text %}

                %section.technologies
                  {% editable_text 'what_we_do_technologies', hint: 'Technologies we do.', priority: 4 %}

                  {% if locale == 'en' %}
                  :markdown
                    ## Technologies

                    Depending on the type of project, we use a variety of technologies, these include:

                    * [Ruby](https://www.ruby-lang.org "A dynamic, open source programming language with a focus on simplicity and productivity."),
                      [Ruby on Rails](http://rubyonrails.org "An open source web framework that's optimized for programmer happiness and sustainable productivity.")
                    * [Haml](http://haml.info "Beautiful, DRY, well-indented, clear markup: templating haiku."),
                      [Sass](http://sass-lang.com "Syntactically Awesome Style Sheets")
                    * [JavaScript](http://en.wikipedia.org/wiki/JavaScript "A dynamic computer programming language.") /
                      [CoffeeScript](http://coffeescript.org "A little language that compiles into JavaScript."),
                      [Ember.js](http://emberjs.com "A framework for creating ambitious web applications."),
                      [Backbone.js](http://coffeescript.org "A tool that gives you the freedom to design the full experience of your web application.")
                    * [TYPO3](http://typo3.org "The Enterprise Open Source CMS.") /
                      [TYPO3 Neos](http://neos.typo3.org "The next-generation open source content management system made by the TYPO3 community."),
                      [LocomotiveCMS](http://locomotivecms.com "An open source CMS for Rails.")
                    * [Shopware](http://www.shopware.com "A powerful and flexible eCommerce software."),
                      [Spree](http://spreecommerce.com "A complete open source e-commerce solution for Ruby on Rails."),
                      [Shopify](http://www.shopify.com "An e-commerce platform.")
                  {% endif %}

                  {% if locale == 'de' %}
                  :markdown
                    ## Technologien

                    Je nach Art des Projektes setzen wir verschiedene Technologien ein, dazu gehören:

                    * [Ruby](https://www.ruby-lang.org "A dynamic, open source programming language with a focus on simplicity and productivity."),
                      [Ruby on Rails](http://rubyonrails.org "An open source web framework that's optimized for programmer happiness and sustainable productivity.")
                    * [Haml](http://haml.info "Beautiful, DRY, well-indented, clear markup: templating haiku."),
                      [Sass](http://sass-lang.com "Syntactically Awesome Style Sheets")
                    * [JavaScript](http://en.wikipedia.org/wiki/JavaScript "A dynamic computer programming language.") /
                      [CoffeeScript](http://coffeescript.org "A little language that compiles into JavaScript."),
                      [Ember.js](http://emberjs.com "A framework for creating ambitious web applications."),
                      [Backbone.js](http://coffeescript.org "A tool that gives you the freedom to design the full experience of your web application.")
                    * [TYPO3](http://typo3.org "The Enterprise Open Source CMS.") /
                      [TYPO3 Neos](http://neos.typo3.org "The next-generation open source content management system made by the TYPO3 community."),
                      [LocomotiveCMS](http://locomotivecms.com "An open source CMS for Rails.")
                    * [Shopware](http://www.shopware.com "A powerful and flexible eCommerce software."),
                      [Spree](http://spreecommerce.com "A complete open source e-commerce solution for Ruby on Rails."),
                      [Shopify](http://www.shopify.com "An e-commerce platform.")
                  {% endif %}

                  {% endeditable_text %}

                %section.open-source.last
                  {% editable_text 'what_we_do_programming', hint: 'Programming we do.', priority: 5 %}

                  {% if locale == 'en' %}
                  :markdown
                    ## Open Source

                    Bitaculous live and breathe Open Source. Wherever possible, we use open standards in our client
                    projects, but we also like to give something [back](https://github.com/bitaculous "Bitaculous on GitHub").
                    We are thankful to work with a variety of projects and communities.
                  {% endif %}

                  {% if locale == 'de' %}
                  :markdown
                    ## Open Source

                    Bitaculous lebt und atmet Open Source. Wenn immer möglich, verwenden wir offene Standards in unseren
                    Kundenprojekte, aber wir [geben](https://github.com/bitaculous "Bitaculous bei GitHub") auch etwas
                    zurück. Wir sind dankbar, mit einer Vielzahl von Projekten und Entwicklern zusammenzuarbeiten.
                  {% endif %}

                  {% endeditable_text %}

          {% endblock %}
          -# Block `what_we_do`

        {% endblock %}
        -# Block `stage`

      %footer.basement
        {% block 'basement' %}

        .shell
          %h1 Basement

        {% endblock %}
        -# Block `basement`

      {% endblock %}
      -# Block `theatre`

    {{'bundle.js' | javascript_tag}}