---
title: "Home"
seo_title: "Bitaclous"
meta_description: "It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, web, application, development, berlin"
published: true
listed: true
position: 1
---
{% include 'variables' %}

!!! 5
%html.no-js{ itemscope: true, itemtype: 'http://schema.org/WebPage', lang: '{{ locale }}' }
  {% include 'head' %}

  %body{ id: '{{ page.slug }}', class: 'default canvas' }
    .theatre
      {% block 'theatre' %}

      {% include 'roof' %}

      %main.stage{ role: 'main' }
        {% block 'stage' %}

        %section.outline
          .shell
            %h1 “We built websites which shine inside and outside.”

        %section.what-we-do
          .shell
            %h1 “We built websites which shine inside and outside.”

        %section.work
          .shell
            %h1 “We built websites which shine inside and outside.”

        %section.team
          .shell
            %h1 “We built websites which shine inside and outside.”

        {% endblock %}
        -# Block `stage`

      %footer.basement
        {% block 'basement' %}

        .shell
          %h1 Basement

        {% endblock %}
        -# Block `basement`

      {% endblock %}
      -# Block `theatre`

    {{ 'bundle.js' | javascript_tag }}