---
title: "Home"
seo_title: "Bitaclous"
meta_description: "It's all about the bits, baby!"
meta_keywords: "bitaculous, it's, all, about, the, bits, baby, web, application, development, berlin"
published: true
listed: true
position: 1
---