// _elements.css.sass
//
// @package bundle/contour/common

@mixin elements
  h1
    font-size: map-get-deep($contour, common, elements, h1, font-size)
    margin: map-get-deep($contour, common, elements, h1, margin)

  h2
    font-size: map-get-deep($contour, common, elements, h2, font-size)
    margin: map-get-deep($contour, common, elements, h2, margin)

  h3
    font-size: map-get-deep($contour, common, elements, h3, font-size)
    margin: map-get-deep($contour, common, elements, h3, margin)

  h4
    font-size: map-get-deep($contour, common, elements, h4, font-size)
    margin: map-get-deep($contour, common, elements, h4, margin)

  h5
    font-size: map-get-deep($contour, common, elements, h5, font-size)
    margin: map-get-deep($contour, common, elements, h5, margin)

  h6
    font-size: map-get-deep($contour, common, elements, h6, font-size)
    margin: map-get-deep($contour, common, elements, h6, margin)

  .shell
    margin: 0 auto
    overflow: hidden
    padding: map-get-deep($contour, common, elements, shell, padding)
    position: relative

    @include clearfix

  iframe
    background: #FFF
    border: none
    width: 100%