// _elements.css.sass
//
// @package bundle/contour/common
// @media all
// @version 1.0

@mixin elements
  h1
    margin: map-get-deep($contour, common, elements, h1, margin)

  h2
    margin: map-get-deep($contour, common, elements, h2, margin)

  h3
    margin: map-get-deep($contour, common, elements, h3, margin)

  h4
    margin: map-get-deep($contour, common, elements, h4, margin)

  h5
    margin: map-get-deep($contour, common, elements, h5, margin)

  h6
    margin: map-get-deep($contour, common, elements, h6, margin)

  i
    font-size: map-get-deep($contour, common, elements, i, font-size)