// _normalize.css.sass
//
// @package bundle/contour/common
// @media all
// @version 1.0

@import assetify/normalizations

@mixin normalize
  html,
  body
    height: 100%

  @include font-normalization

  body
    @include font-smoothing(on)

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong,
  a
    color: $default-color

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: $font-family-headings
    font-weight: $font-weight-headings

  h1
    margin: map-get-deep($defaults, h1, margin)

  h2
    margin: map-get-deep($defaults, h2, margin)

  h3
    margin: map-get-deep($defaults, h3, margin)

  h4
    margin: map-get-deep($defaults, h4, margin)

  h5
    margin: map-get-deep($defaults, h5, margin)

  h6
    margin: map-get-deep($defaults, h6, margin)

  b,
  strong
    font-family: $font-family-bold
    font-weight: $font-weight-bold

  ul
    list-style: none inside none
    margin: 0
    padding: 0

  a
    font-family: $font-family-links
    text-decoration: none

  i
    font-size: ms(1.5)

  nav
    ul.items
      li.item
        display: inline

  form
    .success,
    .failure
      display: none

    .field
      position: relative

    fieldset,
    input,
    textarea
      border: none

    fieldset
      margin: 0
      padding: 0

    label
      display: none

      &.error
        display: block
        margin: rem(5) 0 0 0

    input[type='text'],
    input[type='email'],
    textarea
      padding: rem(5)
      width: 100%

      @include box-sizing(border-box)

    input
      &[type='submit']
        display: none