// _normalize.css.sass
//
// @package bundle/contour/common
// @media all
// @version 1.0

@import assetify/normalizations

@mixin normalize
  html,
  body
    height: 100%

  @include font-normalization

  body
    @include font-smoothing(on)

  h1,
  h2,
  h3,
  h4,
  h5,
  b,
  strong,
  a
    color: $default-color

  nav
    ul.items
      list-style: none
      margin: 0
      padding: 0