// _normalize.css.sass
//
// @package bundle/contour/common
// @media all
// @version 1.0

@mixin normalize
  html,
  body
    height: 100%

  @include font-normalization

  body
    @include font-smoothing(on)

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong,
  a
    color: map-get($defaults, color)

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: map-get-deep($defaults, font-families, headings)
    font-weight: map-get-deep($defaults, font-weights, headings)

  b,
  strong
    font-family: map-get-deep($defaults, font-families, bold)
    font-weight: map-get-deep($defaults, font-weights, bold)

  ul
    list-style: none inside none
    margin: 0
    padding: 0

  a
    font-family: map-get-deep($defaults, font-families, links)
    text-decoration: none

  nav
    ul.items
      li.item
        display: inline

  form
    > .success,
    > .failure,
    > .error
      display: none

    fieldset,
    input,
    textarea
      border: none

    fieldset
      margin: 0
      padding: 0

      .row
        .field
          height: auto
          margin: 0 0 rem(10)

        &.last
          .field
            margin: 0

      .field
        position: relative

    label
      display: none

      &.error
        display: block
        margin: rem(5) 0 0 0

    input[type='text'],
    input[type='email'],
    textarea
      border-radius: 0
      border: 2px solid #FFF
      padding: rem(5)
      width: 100%

      @include appearance(none)
      @include box-sizing(border-box)

    input
      &[type='submit']
        display: none

    &.locked
      a.submit
        cursor: default