// _browser.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/work/hub/references/reference/interior/views

@mixin browser
  &.browser
    height: 242px
    width: 300px

    .viewport
      bottom: 38px
      left: 4px
      right: 2px
      top: 14px

    .overlay
      background: transparent image-url('bundle/contour/common/theatre/stage/sections/work/hub/references/reference/interior/views/browser/overlay/background.png') no-repeat 0 0

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/stage/sections/work/hub/references/reference/interior/views/browser/overlay/background_at_2x.png')
        background-size: 300px 242px

    .title
      color: #000
      font-family: map-get-deep($defaults, font-families, thin)
      font-size: ms(-2)
      left: 3px
      top: 2px