// _details.css.sass
//
// @package bundle/media/screen/large/common/theatre/roof/backstage/sections/contact/reach_us

@mixin details
  .details
    border-top: none
    float: left
    margin: 0
    margin: rem(-12) 0 0 0
    width: 28%