// _controls.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard/control_panel

@mixin controls
  a.control
    display: inline-block
    font-family: map-get-deep($defaults, font-families, navigation)
    text-align: center
    text-transform: uppercase

    span
      &.partial
        display: inline-block
        height: map-get-deep($contour, common, theatre, roof, dashboard, control-panel, height)

        &.left,
        &.right
          background-position: center center
          background-repeat: no-repeat
          width: 16px

        &.left
          @include retina-image('bundle/contour/common/theatre/roof/dashboard/control_panel/controls/control/partials/left/background', 16px 28px)

        &.right
          @include retina-image('bundle/contour/common/theatre/roof/dashboard/control_panel/controls/control/partials/right/background', 16px 28px)

        &.center
          background: transparent image-url('bundle/contour/common/theatre/roof/dashboard/control_panel/controls/control/partials/center/background.png') repeat center center
          margin: 0 rem(-4)

    &.locked
      color: #555

    @include lockify($transition: false)