// _controls.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard/control_panel
// @media all
// @version 1.0

@mixin controls
  a.control
    display: inline-block
    font-family: map-get-deep($defaults, font-families, navigation)
    font-size: ms(-1.25)
    text-align: center
    text-transform: uppercase

    &.locked
      color: #555

    &.active
      font-family: map-get-deep($defaults, font-families, heavy)
      font-size: ms(0)

    @include lockify($transition: false)

    &.contact
      background-image: image-url('bundle/contour/common/theatre/roof/dashboard/control_panel/controls/contact/background.png')
      height: 28px
      line-height: 28px
      width: 92px

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/roof/dashboard/control_panel/controls/contact/background_at_2x.png')
        background-size: 92px 28px

      &.active
        background-image: image-url('bundle/contour/common/theatre/roof/dashboard/control_panel/controls/contact/active/background.png')
        width: 72px

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/roof/dashboard/control_panel/controls/contact/active/background_at_2x.png')
          background-size: 72px 28px