// _what_we_do.css.sass
//
// @package bundle/contour/index/theatre/stage/sections

@mixin what-we-do
  &.what-we-do
    top: rem(-34)

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: #F8F084

    ul
      li
        @include retina-image('bundle/contour/index/theatre/stage/sections/what_we_do/decorations/qube', 10px 12px)

    .flap
      @include retina-image('bundle/contour/index/theatre/stage/sections/what_we_do/flap/background', 2560px 14px)

    .hub
      background: #001822 image-url('bundle/contour/index/theatre/stage/sections/what_we_do/hub/background.png') repeat center center

      .heading
        @include retina-image('bundle/contour/index/theatre/stage/sections/what_we_do/hub/heading/background', 64px 64px)

      .content
        section
          background-position: center rem(16)
          background-repeat: no-repeat
          border-top: 2px solid #F8F084
          padding: rem(72) 0 0

          h2
            text-align: center

          &.projects
            @include retina-image('bundle/contour/index/theatre/stage/sections/what_we_do/hub/content/sections/projects/background', 53px 46px)

          &.technologies
            @include retina-image('bundle/contour/index/theatre/stage/sections/what_we_do/hub/content/sections/technologies/background', 48px 46px)

          &.open-source
            @include retina-image('bundle/contour/index/theatre/stage/sections/what_we_do/hub/content/sections/open_source/background', 47px 46px)