// _work.css.sass
//
// @package bundle/contour/index/theatre/stage/sections

@import work/hub/references

@mixin work
  &.work
    background-position: center rem(342)
    top: rem(-48)

    @include linear-gradient(to bottom, #2D4148 0%, #213337 100%, $fallback: #213337)

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: #1CB5C6

    ul
      li
        @include retina-image('bundle/contour/index/theatre/stage/sections/work/decorations/qube', 10px 12px)

    .flap
      @include retina-image('bundle/contour/index/theatre/stage/sections/work/flap/background', 2560px 14px)

    .hub
      .heading
        @include retina-image('bundle/contour/index/theatre/stage/sections/work/hub/heading/background', 64px 64px)

      @include references