// _references.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/work/hub
// @media all
// @version 1.0

@import references/heldenpause
@import references/markenfaktur
@import references/hpk
@import references/intercultural_map

@mixin references
  .references
    .reference
      cursor: pointer
      text-align: center

      .view
        margin: 0 auto
        position: relative

        .viewport
          position: absolute
          background: red

        &.browser
          background: transparent image-url('bundle/contour/common/theatre/stage/sections/work/hub/references/reference/views/browser/background.png') no-repeat center left
          height: 207px
          width: 300px

          @include hidpi
            background-image: image-url('bundle/contour/common/theatre/stage/sections/work/hub/references/reference/views/browser/background_at_2x.png')
            background-size: 300px 207px

          .title
            color: #555
            font-family: 'Nexa Regular'
            font-size: ms(-1.5)
            left: rem(7)
            position: absolute
            top: rem(8)

          .viewport
            bottom: rem(7)
            left: rem(7)
            right: rem(7)
            top: rem(27)

      @include heldenpause

      @include markenfaktur

      @include hpk

      @include intercultural-map