// _team.css.sass
//
// @package bundle/contour/common/theatre/stage/sections
// @media all
// @version 1.0

@mixin team
  &.team
    top: rem(-42)

    h1,
    h2,
    h3,
    h4,
    h5
      color: #FF4828

    ul
      li
        background-image: image-url('bundle/contour/common/theatre/stage/sections/team/decorations/qube.png')

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/stage/sections/team/decorations/qube_at_2x.png')
          background-size: 10px 12px

    .flap
      background: transparent image-url('bundle/contour/common/theatre/stage/sections/team/flap/background.png') no-repeat center center

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/stage/sections/team/flap/background_at_2x.png')
        background-size: 2560px 14px

    .hub
      background: #2D0F19 image-url('bundle/contour/common/theatre/stage/sections/team/hub/background.png') repeat center center

      .header
        background: transparent image-url('bundle/contour/common/theatre/stage/sections/team/hub/header/background.png') no-repeat center rem(10)

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/stage/sections/team/hub/header/background_at_2x.png')
          background-size: 65px 72px