// _what_we_do.css.sass
//
// @package bundle/contour/common/theatre/stage/sections

@mixin what-we-do
  &.what-we-do
    top: rem(-34)

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: #F8F084

    ul
      li
        background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/decorations/qube.png')

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/decorations/qube_at_2x.png')
          background-size: 10px 12px

    .flap
      background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/flap/background.png') no-repeat center center

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/flap/background_at_2x.png')
        background-size: 2560px 14px

    .hub
      background: #001822 image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/background.png') repeat center center

      .heading
        background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/heading/background.png') no-repeat center rem(12)

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/heading/background_at_2x.png')
          background-size: 64px 64px

      .content
        section
          border-top: 2px solid #F8F084
          padding: rem(72) 0 0

          h2
            text-align: center

          &.projects
            background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/projects/background.png') no-repeat center rem(16)

            @include hidpi
              background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/projects/background_at_2x.png')
              background-size: 53px 46px

          &.technologies
            background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/technologies/background.png') no-repeat center rem(16)

            @include hidpi
              background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/technologies/background_at_2x.png')
              background-size: 48px 46px

          &.open-source
            background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/open_source/background.png') no-repeat center rem(16)

            @include hidpi
              background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/open_source/background_at_2x.png')
              background-size: 47px 46px