// _what_we_do.css.sass
//
// @package bundle/contour/common/theatre/stage/sections
// @media all
// @version 1.0

@mixin what-we-do
  &.what-we-do
    top: rem(-14)

    h1,
    h2,
    h3,
    h4,
    h5
      color: #F8F084

    ul
      li
        background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/decorations/qube.png')

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/decorations/qube_at_2x.png')
          background-size: 10px 12px

    .flap
      background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/flap/background.png') no-repeat center center
      height: 14px

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/flap/background_at_2x.png')
        background-size: 2560px 14px

    .hub
      background: #001822 image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/background.png') repeat center center

      .header
        background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/header/background.png') no-repeat center rem(10)
        padding: rem(80) 0 rem(20)

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/header/background_at_2x.png')
          background-size: 65px 72px

      .content
        section
          border-top: 2px solid #F8F084
          padding: rem(72) 0 0

          &.projects
            background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/projects/background.png') no-repeat center rem(20)

          &.technologies
            background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/technologies/background.png') no-repeat center rem(20)

          &.open-source
            background: transparent image-url('bundle/contour/common/theatre/stage/sections/what_we_do/hub/content/sections/open_source/background.png') no-repeat center rem(20)