// _work.css.sass
//
// @package bundle/contour/common/theatre/stage/sections

@import work/hub/references

@mixin work
  &.work
    background: #2C4148 image-url('bundle/contour/common/theatre/stage/sections/work/background.png') repeat center rem(345)
    top: rem(-48)

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: #1CB5C6

    ul
      li
        background-image: image-url('bundle/contour/common/theatre/stage/sections/work/decorations/qube.png')

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/stage/sections/work/decorations/qube_at_2x.png')
          background-size: 10px 12px

    .flap
      background: transparent image-url('bundle/contour/common/theatre/stage/sections/work/flap/background.png') no-repeat center center

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/stage/sections/work/flap/background_at_2x.png')
        background-size: 2560px 14px

    .hub
      .heading
        background: transparent image-url('bundle/contour/common/theatre/stage/sections/work/hub/heading/background.png') no-repeat center rem(12)

        @include hidpi
          background-image: image-url('bundle/contour/common/theatre/stage/sections/work/hub/heading/background_at_2x.png')
          background-size: 64px 64px

      @include references