// _sections.css.sass
//
// @package bundle/contour/common/theatre/stage/outline
// @media all
// @version 1.0

@import sections/outline
@import sections/what_we_do
@import sections/work
@import sections/team

@mixin sections
  section
    overflow: hidden
    position: relative

    .flap
      height: 14px

    .hub
      padding: 0 0 rem(34)

      .header
        font-family: 'Nexa Bold'
        padding: rem(80) 0 rem(20)
        text-align: center

        h1
          text-transform: uppercase

    @include outline

    @include what-we-do

    @include work

    @include team