// _bar.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage/contact
// @media all
// @version 1.0

@mixin bar
  .bar
    background: #E2F4F8
    left: 0
    position: fixed
    right: 0
    top: 0
    z-index: 110

    .shell
      height: 32px

    a.close
      position: absolute
      right: 0
      top: rem(3)

      i
        color: #24D2DB