// _member.css.sass
//
// @package bundle/contour/common/theatre/stage/sections/team/hub/members
// @media all
// @version 1.0

@mixin member
  .member
    border-top: 2px solid #FB3814
    padding: rem(15) 0

    .photo
      box-shadow: rem(2) rem(2) rem(4) #000
      height: 192px
      margin: 0 auto rem(10)
      width: 300px

    p
      margin: 0

      &.name,
      &.profession
        color: #FB3814

      &.name
        font-family: map-get-deep($defaults, font-families, bold)

    &.last
      padding: rem(15) 0 0 0