// _member.css.sass
//
// @package bundle/media/screen/large/index/theatre/stage/sections/team/hub/members

@mixin member
  .member
    text-align: left
    width: 240px

    .photo
      height: 154px
      width: 240px

    &.mkempe,
    &.mriekert,
    &.rkaufmann
      margin: 0 14px 0 0