// _member.css.sass
//
// @package bundle/media/screen/large/index/theatre/stage/sections/team/hub/members

@mixin member
  .member
    text-align: left
    width: 239px

    .photo
      height: 153px
      width: 239px

    &.mkempe,
    &.mriekert,
    &.rkaufmann
      margin: 0 16px 0 0