// _contact.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage
// @media all
// @version 1.0

@mixin contact
  .contact
    border-top: 15px solid #E2F4F8
    color: #006897
    display: block

    h1
      font-family: 'Nexa Bold'

    a
      color: #006897

    .header
      background: #EEFCFD

      h1,
      h2
        color: #24D2DB