// _contact.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage
// @media all
// @version 1.0

@mixin contact
  .contact
    color: #006897
    max-height: 390px
    overflow: scroll
    padding: rem(32) 0 0 0
    position: relative

    // display: none

    h1
      font-family: 'Nexa Bold'

    a
      color: #006897

    .bar
      background: #E2F4F8
      left: 0
      position: fixed
      right: 0
      top: 0
      z-index: 110

      .shell
        height: 32px

      a.close
        position: absolute
        right: rem(10)
        top: rem(3)

        i
          color: #24D2DB

    header
      background: #EEFCFD
      padding: rem(10) 0

      h1,
      h2
        color: #24D2DB

    footer
      background: #E2F4F8