// _backstage.css.sass
//
// @package bundle/contour/common/theatre/roof
// @media all
// @version 1.0

@import backstage/contact

@mixin backstage
  .backstage
    border-bottom: 10px solid #000
    // max-height: 390px
    overflow: scroll
    text-align: left

    @include contact