// _backstage.css.sass
//
// @package bundle/contour/common/theatre/roof

@import backstage/sections/section/bar
@import backstage/sections/contact

@mixin backstage
  .backstage
    border-bottom: 10px solid #000
    overflow: hidden
    text-align: left

    section
      @include bar

      @include contact