// _dashboard.css.sass
//
// @package bundle/contour/common/theatre/roof
// @media all
// @version 1.0

@import dashboard/navigations

@mixin dashboard
  .dashboard
    background: transparent image-url('bundle/contour/common/theatre/roof/dashboard/background.png') repeat center center
    position: relative

    @include navigations

    a.bitaculous
      background: transparent image-url('bundle/contour/common/theatre/roof/dashboard/bitaculous/background.png') no-repeat center left
      display: inline-block
      height: 64px
      margin: 0 0 rem(10)

      @include hidpi
        background-image: image-url('bundle/contour/common/theatre/roof/dashboard/bitaculous/background@2x.png')
        background-size: 64px 64px

      span
        display: block
        margin: 0 0 0 rem(64)

        &.title
          font-family: map-get-deep($contour, common, theatre, roof, dashboard, bitaculous, title, font-family)
          font-size: map-get-deep($contour, common, theatre, roof, dashboard, bitaculous, title, font-size)
          padding: rem(10) 0 0
          text-transform: uppercase