// _slim.css.sass
//
// @package bundle/contour/common/theatre/roof

@mixin slim
  &.slim
    .dashboard
      .badge
        display: block
        height: auto
        margin: rem(30) auto rem(7.5)
        width: 160px

        span
          &.logo,
          &.claim
            display: none

          &.title
            left: auto
            position: relative
            text-align: center
            top: auto

      .console
        padding: 0

        nav
          &.channels
            display: none