// _slim.css.sass
//
// @package bundle/contour/common/theatre/roof
// @media all
// @version 1.0

@mixin slim
  &.slim
    .dashboard
      .badge
        background: none
        display: block
        height: auto
        margin: 0 auto
        padding: rem(26) 0 rem(10)
        width: 160px

        span
          margin: 0

          &.claim
            display: none

      nav
        &.outline
          padding: 0 0 rem(10)

        &.channels
          display: none