// _slim.css.sass
//
// @package bundle/contour/common/theatre/roof
// @media all
// @version 1.0

@mixin slim
  &.slim
    .dashboard
      .badge
        display: block
        height: auto
        margin: rem(30) auto rem(10)
        width: 160px

        span
          &.icon,
          &.claim
            display: none

          &.title
            left: auto
            position: relative
            text-align: center
            top: auto

      nav
        &.outline
          padding: 0 0 rem(10)

        &.channels
          display: none