// _browser.css.sass
//
// @package bundle/media/screen/large/index/theatre/stage/sections/work/hub/references/reference/interior/views

@mixin browser
  &.browser
    height: 388px
    width: 480px

    .viewport
      bottom: 62px
      left: 5px
      right: 5px
      top: 24px

    .overlay
      @include retina-image('bundle/media/screen/large/index/theatre/stage/sections/work/hub/references/reference/interior/views/browser/overlay/background', 480px 388px)

    .title
      font-size: ms(-1)
      left: 6px
      top: 5px