// _stage.css.sass
//
// @package bundle/contour/index/theatre

@import stage/sections/abstract
@import stage/sections/what_we_do
@import stage/sections/work
@import stage/sections/team

@mixin stage
  .stage
    margin: 0 0 rem(-62) 0
    overflow: hidden

    section
      .flap
        height: 14px

      .hub
        overflow: hidden
        padding: 0 0 rem(34)

        .heading
          font-family: map-get-deep($defaults, font-families, headings)
          padding: rem(80) 0 rem(20)
          text-align: center

          h1
            font-size: ms(4)
            margin: 0 0 rem(14)
            text-transform: uppercase

      &.last
        .hub
          padding: 0 0 rem(20)

      @include abstract

      @include what-we-do

      @include work

      @include team