// _browse.css.sass
//
// @package bundle/media/screen/small/common/theatre/stage/sections/work/hub/references

@mixin browse
  .browse
    a
      bottom: rem(228)

      &.previous
        left: rem(-94)

      &.next
        right: rem(-94)