// _get_in_touch.css.sass
//
// @package bundle/contour/common/theatre/basement/partials

@mixin get-in-touch
  &.get-in-touch
    span
      &.label
        display: inline

      &.divider
        display: none

    a.location
      span
        &.label
          left: rem(-3)
          position: relative