// _get_in_touch.css.sass
//
// @package bundle/contour/common/theatre/basement/partials

@mixin get-in-touch
  .get-in-touch
    margin: 0 0 rem(10)

    span
      &.label
        display: inline

      &.divider
        display: none