// _mixins.css.sass
//
// @package bundle
// @media all
// @version 1.0

@mixin font-smoothing($value: on)
  @if $value == on
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
  @else
    -moz-osx-font-smoothing: auto
    -webkit-font-smoothing: subpixel-antialiased

@mixin smooth($element: false, $property: background-image, $transition-duration: 0.5s)
  @if $element == false
    @include transition($property $transition-duration ease-out)

    &:hover,
    &:focus,
    &.active
      @include transition($property $transition-duration ease-in)
  @else
    #{$element}
      @include transition($property $transition-duration ease-out)

    &:hover,
    &:focus,
    &.active
      #{$element}
        @include transition($property $transition-duration ease-in)