// _mixins.css.sass
//
// @package bundle
// @media all
// @version 1.0

@mixin smoothy($element: false, $property: background-image, $transition-duration: 0.5s)
  @if $element == false
    @include transition($property $transition-duration ease-out)

    &:hover,
    &.active
      @include transition($property $transition-duration ease-in)
  @else
    #{$element}
      @include transition($property $transition-duration ease-out)

    &:hover,
    &.active
      #{$element}
        @include transition($property $transition-duration ease-in)

@mixin lockify($transition: true, $property: background, $transition-duration: 0.5s)
  @if transition == true
    @include transition($property $transition-duration ease-out)

  &.locked
    cursor: default

    @if transition == true
      @include transition($property $transition-duration ease-in)

@mixin text-decoration($color: #FFF)
  border-bottom: 1px solid $color

@mixin no-text-decoration
  border-bottom: none