// _settings.css.scss
//
// @package bundle
// Bourbon
// =======

$em-base: map-get($defaults, baseline);

// Modular Scale
// =============

$ms-base: 1rem;
$ms-ratio: $major-third;

// Susy
// ====

$susy: (
  columns: 24,
  gutter: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

// Contour
// =======

$contour: (
  min-width: 320px,

  common: (
    elements: (
      h1: (
        margin: 0 0 rem(12)
      ),

      h2: (
        margin: 0 0 rem(14)
      ),

      h3: (
        margin: 0 0 rem(16)
      ),

      h4: (
        margin: 0 0 rem(18)
      ),

      h5: (
        margin: 0 0 rem(20)
      ),

      h6: (
        margin: 0 0 rem(22)
      ),

      i: (
        font-size: ms(1.5)
      )
    ),

    theatre: (
      stage: (
        sections: (
          work: (
            hub: (
              references: (
                min-width: 1280px,

                interior: (
                  width: 300px
                )
              )
            )
          )
        )
      )
    )
  )
);

// Media
// =====

$media: (
  screen: (
    small: (
      min-width: 480px
    ),

    medium: (
      min-width: 640px
    ),

    large: (
      min-width: 1024px,

      common: (
        theatre: (
          stage: (
            sections: (
              work: (
                hub: (
                  references: (
                    min-width: 1680px
                  )
                )
              )
            )
          )
        )
      )
    ),

    x-large: (
      min-width: 1280px
    ),

    xx-large: (
      min-width: 1680px
    )
  )
);