// _settings.css.scss
//
// @package bundle

// Bourbon
// =======

$em-base: map-get($defaults, baseline);

// Modular Scale
// =============

$ms-base: 1rem;
$ms-ratio: $major-third;

// Susy
// ====

$susy: (
  columns: 24,
  gutter: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

// Contour
// =======

$contour: (
  min-width: 320px,

  common: (
    elements: (
      h1: (
        font-size: ms(3),
        margin: 0 0 rem(12)
      ),

      h2: (
        font-size: ms(2),
        margin: 0 0 rem(14)
      ),

      h3: (
        font-size: ms(1),
        margin: 0 0 rem(16)
      ),

      h4: (
        font-size: ms(0),
        margin: 0 0 rem(18)
      ),

      h5: (
        font-size: ms(-1),
        margin: 0 0 rem(20)
      ),

      h6: (
        font-size: ms(-2),
        margin: 0 0 rem(22)
      )
    ),

    theatre: (
      shell: (
        padding: 0 rem(10)
      ),

      roof: (
        dashboard: (
          control-panel: (
            controls: (
              font-size: ms(-1.25),
              height: 28px,
              line-height: 28px
            )
          )
        )
      ),

      stage: (
        ul: (
          margin: 0 0 rem(10),

          li: (
            background-position: left rem(6),
            padding: 0 0 rem(8) rem(20)
          )
        ),

        ol: (
          margin: 0 0 rem(10)
        )
      )
    )
  ),

  index: (
    theatre: (
      stage: (
        sections: (
          work: (
            hub: (
              references: (
                min-width: 1280px,

                reference: (
                  interior: (
                    width: 300px
                  )
                )
              )
            )
          )
        )
      )
    )
  )
);

// Media
// =====

$media: (
  screen: (
    x-small: (
      min-width: 480px,

      index: (
        theatre: (
          stage: (
            sections: (
              work: (
                hub: (
                  references: (
                    min-width: 1360px
                  )
                )
              )
            )
          )
        )
      )
    ),

    small: (
      min-width: 640px
    ),

    medium: (
      min-width: 896px
    ),

    large: (
      min-width: 1024px,

      common: (
        font-size: 105%,

        theatre: (
          shell: (
            max-width: 1004px
          ),

          roof: (
            dashboard: (
              control-panel: (
                controls: (
                  height: 30px,
                  line-height: 30px
                )
              )
            )
          )
        )
      ),

      index: (
        theatre: (
          stage: (
            sections: (
              work: (
                hub: (
                  references: (
                    min-width: 2160px,

                    reference: (
                      interior: (
                        width: 480px
                      )
                    )
                  )
                )
              )
            )
          )
        )
      )
    ),

    x-large: (
      min-width: 1280px,

      common: (
        font-size: 107.5%,

        theatre: (
          shell: (
            max-width: 1260px
          ),

          roof: (
            dashboard: (
              control-panel: (
                controls: (
                  height: 32px,
                  line-height: 32px
                )
              )
            )
          )
        )
      )
    ),

    xx-large: (
      min-width: 1680px,

      common: (
        font-size: 112.5%
      )
    )
  )
);