// _variables.css.sass
//
// Shared variables used in `bundle` package.
//
// @package bundle
// @media all
// @version 1.0

// Defaults
// ========

$default-font-family: 'Nexa Light', unquote('Helvetica, Arial, Verdana, sans-serif')
$default-font-size: 100%
$default-baseline: 16px
$default-font-style: normal
$default-font-weight: normal
$default-color: #FFF
$default-line-height: 1.25

// Font families
// =============

$font-family-navigation: 'Nexa Bold'
$font-family-headings: 'Nexa Bold'
$font-family-text: 'Nexa Light'
$font-family-bold: 'Nexa Bold'
$font-family-links: 'Nexa Light'
$font-family-icons: 'Fontello Regular'

// Font weights
// ============

$font-weight-headings: normal
$font-weight-bold: normal

// Display resolutions
// ===================

$tiny-screen: 320px
$small-screen: 480px
$medium-screen: 1024px
$large-screen: 1680px