// _variables.css.scss
//
// Shared variables used in `bundle` package.
//
// @package bundle

// Defaults
// ========

$defaults: (
  font-family: unquote('"Nexa Light", Helvetica, Arial, Verdana, sans-serif'),
  font-size: 100%,
  baseline: 16px,
  font-style: normal,
  font-weight: normal,
  color: #FFF,
  line-height: 1.25,

  font-families: (
    navigation: 'Nexa Bold',
    headings: 'Nexa Bold',
    text: 'Nexa Light',
    thin: 'Nexa Thin',
    bold: 'Nexa Bold',
    heavy: 'Nexa Heavy',
    links: 'Nexa Light',
    icons: 'Fontello Regular'
  ),

  font-weights: (
    headings: normal,
    bold: normal
  )
);