// _variables.css.sass
//
// Shared variables used in “bundle” package.
//
// @package bundle
// @media screen
// @version 1.0

$default-background: #FFF
$default-font-family: 'Colaborate Regular', unquote('Helvetica, Arial, Verdana, sans-serif')
$default-font-size: 100%
$default-font-style: normal
$default-font-weight: normal
$default-color: #000
$default-line-height: 1.25
$default-baseline: 16px