// _target_groups.css.sass
//
// @package bundle/media/screen/large/common/theatre/roof/backstage/sections/contact/reach_us

@mixin target-groups
  .target-groups
    .target-group
      float: left
      width: 324px

      &.first
        margin: 0 rem(16) 0 0

      &.last
        float: right