// _greetings.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage/sections/contact

@import greetings/target_groups

@mixin greetings
  .greetings
    background: #EEFCFD
    padding: rem(10) 0

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: #24D2DB

    @include target-groups