// _browse.css.sass
//
// @package bundle/contour/index/theatre/stage/sections/work/hub/references

@mixin browse
  .browse
    margin: 0 auto
    position: relative
    width: map-get-deep($contour, index, theatre, stage, sections, work, hub, references, reference, interior, width)

    a
      background-position: center center
      background-repeat: no-repeat
      bottom: rem(22)
      display: block
      height: 40px
      position: absolute
      width: 40px

      @include hide-text

      @include no-text-decoration

      &.previous
        left: rem(-14)

        @include retina-image('bundle/contour/index/theatre/stage/sections/work/hub/references/browse/previous/background', 40px 40px)

      &.next
        right: rem(-14)

        @include retina-image('bundle/contour/index/theatre/stage/sections/work/hub/references/browse/next/background', 40px 40px)