// _channels.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard/navigations

@mixin channels
  &.channels
    padding: 0 0 rem(10)

    ul.items
      li.item
        i
          font-size: ms(1.5)

        &:hover,
        &.active
          i
            color: #222

        @include smoothy($element: i, $property: color)