// _locales.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard/navigations
// @media all
// @version 1.0

@mixin locales
  &.locales
    font-size: map-get-deep($contour, common, theatre, roof, dashboard, navigations, locales, font-size)
    position: absolute
    right: rem(10)
    top: rem(10)