// _locales.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard/navigations
// @media all
// @version 1.0

@mixin locales
  &.locales
    position: absolute
    right: rem(10)
    top: rem(10)