// _main.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard/navigations
// @media all
// @version 1.0

@mixin main
  &.main
    padding: 0 0 rem(10)

    ul.items
      li.item
        margin: 0 rem(2) 0 0
        padding: rem(5) rem(8)

        &.last
          margin: 0

        &:hover,
        &.active
          background: transparent image-url('bundle/contour/common/theatre/roof/dashboard/navigations/main/items/item/alive.png') repeat center center