// _outline.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard/navigations
// @media all
// @version 1.0

@mixin outline
  &.outline
    font-size: ms(-1.25)
    padding: 0 0 rem(15)

    ul.items
      li.item
        margin: 0 rem(2) 0 0

        a
          background-image: image-url('bundle/contour/common/theatre/roof/dashboard/navigations/outline/items/item/a/background.png')
          padding: rem(5) rem(8)

          @include smoothy

        &:hover,
        &.active
          a
            background-image: image-url('bundle/contour/common/theatre/roof/dashboard/navigations/outline/items/item/active/a/background.png')

        &.last
          margin: 0