// _outline.css.sass
//
// @package bundle/contour/common/theatre/roof/dashboard/navigations
// @media all
// @version 1.0

@mixin outline
  &.outline
    font-size: ms(-1.25)
    padding: 0 0 rem(10)

    ul.items
      li.item
        background-image: image-url('bundle/contour/common/theatre/roof/dashboard/navigations/outline/items/item/normal.png')
        margin: 0 rem(2) 0 0
        padding: rem(5) rem(8)

        &.last
          margin: 0

        &:hover,
        &.active
          background-image: image-url('bundle/contour/common/theatre/roof/dashboard/navigations/outline/items/item/active.png')

        @include smoothy