// _hpk.css.sass
//
// @package bundle/samples/references

@mixin hpk
  .hpk
    .view
      &.browser
        .viewport
          background: transparent image-url('bundle/samples/contour/references/hpk/views/browser/viewport.jpg') no-repeat 0 0

          @include hidpi
            background-image: image-url('bundle/samples/contour/references/hpk/views/browser/viewport_at_2x.jpg')
            background-size: 300px 197px