// _intercultural_map.css.sass
//
// @package bundle/samples/references

@mixin intercultural-map
  .intercultural-map
    .view
      &.browser
        .viewport
          background: transparent image-url('bundle/samples/contour/references/intercultural_map/views/browser/viewport.jpg') no-repeat 0 0

          @include hidpi
            background-image: image-url('bundle/samples/contour/references/intercultural_map/views/browser/viewport_at_2x.jpg')
            background-size: 296px 190px