// _markenfaktur.css.sass
//
// @package bundle/samples/references
// @media all
// @version 1.0

@mixin markenfaktur
  .markenfaktur
    .view
      &.browser
        .viewport
          background: transparent image-url('bundle/samples/contour/references/markenfaktur/views/browser/viewport.jpg') no-repeat 0 0

          @include hidpi
            background-image: image-url('bundle/samples/contour/references/markenfaktur/views/browser/viewport_at_2x.jpg')
            background-size: 300px 197px

      &.mobile
        .viewport
          background: transparent image-url('bundle/samples/contour/references/markenfaktur/views/mobile/viewport.jpg') no-repeat 0 0

          @include hidpi
            background-image: image-url('bundle/samples/contour/references/markenfaktur/views/mobile/viewport_at_2x.jpg')
            background-size: 90px 169px