// _bar.css.sass
//
// @package bundle/contour/common/theatre/roof/backstage/sections/section

@mixin bar
  .bar
    left: 0
    position: fixed
    right: 0
    top: 0
    z-index: 210

    .shell
      height: 32px

    a.close
      background-position: center center
      background-repeat: no-repeat
      display: block
      height: 24px
      line-height: 100%
      position: absolute
      right: rem(10)
      top: rem(4)
      width: 24px

      @include hide-text

      @include no-text-decoration

      @include retina-image('bundle/contour/common/theatre/roof/backstage/sections/section/bar/close/background', 24px 24px)

      @include lockify($property: background-color)