// _member.css.sass
//
// @package bundle/media/screen/medium/common/theatre/stage/sections/team/hub/members

@mixin member
  .member
    width: 428px

    .photo
      height: 274px
      width: 428px